<h1 align='center'>MSDE 692</h1>

[Function Definitions](#Function-Definitions)

[Clean CSV Input File](#Clean-CSV-Input-File)

[Data Cleaning](#Data-Cleaning)

In [430]:
import os
import pandas as pd
import neo4j
import numpy as np

from datetime import datetime as dt
from csv import DictReader, writer

## Function Definitions

In [431]:
def people_pruner(my_file):
    my_list = []

    with open(my_file, 'r') as f:
        reader = DictReader(f, fieldnames='person')

        for row in reader:
            if [row['p']] not in my_list:
                my_list.append([row['p']])
            else:
                print(f"Duplicate person: {row['p']}")
    
    return my_list

In [440]:
def csv_writer(my_file, my_list):

    with open(my_file, 'w', newline='') as outfile:

        # using csv.writer method from CSV package
        csv_writer = writer(outfile)

        for row in my_list:
            csv_writer.writerow(row)

## Clean CSV Input File

In [470]:
people_list = people_pruner('wikicrawler/people_temp.csv')

Duplicate person: Sophie_Gr%C3%A9goire_Trudeau
Duplicate person: Lynne_Cheney
Duplicate person: Marilyn_Quayle
Duplicate person: Susan_Weber_(historian)
Duplicate person: Nancy_Kissinger
Duplicate person: Hillary_Rodham
Duplicate person: Doug_Emhoff
Duplicate person: Priscilla_Chan
Duplicate person: MacKenzie_Scott
Duplicate person: Ashley_Estes_Kavanaugh
Duplicate person: Ginni_Thomas
Duplicate person: George_Akerlof
Duplicate person: Andrea_Mitchell
Duplicate person: Edward_Sugden_(methodist)
Duplicate person: Gertrude_Schoepperle
Duplicate person: Laura_Hibbard_Loomis
Duplicate person: Mary_Herring
Duplicate person: Edna_Manley
Duplicate person: Ida_Gordon
Duplicate person: Editha_Olga_Bailey
Duplicate person: Evelyn_Lett
Duplicate person: Virginia_Durr
Duplicate person: Fay_Wray
Duplicate person: Norah_Michener
Duplicate person: index.php?title=Helen_Hill_Miller&action=edit&redlink=1
Duplicate person: Marian_Dale_Scott
Duplicate person: Harriet_Mayor_Fulbright
Duplicate person: Clarita_Tiefenbacher
Duplicate person: Myrna_Loy
Duplicate person: Mary_Gluckman
Duplicate person: Elspeth_Rostow
Duplicate person: Alison_Burton
Duplicate person: Louise_Allbritton
Duplicate person: Susan_McLane
Duplicate person: Geills_Turner
Duplicate person: Sondra_Gotlieb
Duplicate person: index.php?title=Danielle_L._Gardner&action=edit&redlink=1
Duplicate person: Catherine_Hall
Duplicate person: Sally_Brophy
Duplicate person: Deborah_McCawley
Duplicate person: Meg_Whitman
Duplicate person: Mary_M._Ourisman
Duplicate person: Dagmar_Braun_Celeste
Duplicate person: Isher_Judge_Ahluwalia
Duplicate person: Utsa_Patnaik
Duplicate person: Michelle_Gordon_(judge)
Duplicate person: Arlene_Perly_Rae
Duplicate person: Deborah_Fallows
Duplicate person: Kathy_Lette
Duplicate person: Selma_Botman
Duplicate person: Clayton_Spencer
Duplicate person: Jef_McAllister
Duplicate person: Elizabeth_Esty
Duplicate person: Tom_Adkins
Duplicate person: Sheryl_WuDunn
Duplicate person: Wendy_Vitter
Duplicate person: Tom_Conroy
Duplicate person: Ali_Wentworth
Duplicate person: Samantha_Nutt
Duplicate person: Melanie_Verwoerd
Duplicate person: Rajdeep_Sardesai
Duplicate person: Alan_Thomas_(philosopher)
Duplicate person: Ann_M._O%27Leary
Duplicate person: Sarah_Sze
Duplicate person: Lia_Epperson
Duplicate person: Jenny_Salesa
Duplicate person: Sara_Bronin
Duplicate person: Hannah_Van_Buren
Duplicate person: Anna_Harrison
Duplicate person: Letitia_Christian_Tyler
Duplicate person: Julia_Gardiner_Tyler
Duplicate person: Elizabeth_Monroe
Duplicate person: Louisa_Adams
Duplicate person: Dolley_Madison
Duplicate person: Martha_Washington
Duplicate person: Rachel_Jackson
Duplicate person: Jane_Pierce
Duplicate person: Abigail_Adams
Duplicate person: Sarah_Childress_Polk
Duplicate person: Abigail_Fillmore
Duplicate person: Caroline_C._Fillmore
Duplicate person: Martha_Jefferson
Duplicate person: Lucy_Ware_Webb
Duplicate person: Caroline_Harrison
Duplicate person: Mary_Dimmick_Harrison
Duplicate person: Frances_Cleveland
Duplicate person: Lucretia_Garfield
Duplicate person: Nell_Arthur
Duplicate person: Ida_Saxton_McKinley
Duplicate person: Helen_Herron_Taft
Duplicate person: Florence_Kling
Duplicate person: Grace_Coolidge
Duplicate person: Lou_Henry_Hoover
Duplicate person: Eleanor_Roosevelt
Duplicate person: Jacqueline_Bouvier
Duplicate person: Mamie_Eisenhower
Duplicate person: Bess_Wallace
Duplicate person: Betty_Ford
Duplicate person: Pat_Nixon
Duplicate person: Barbara_Bush
Duplicate person: Jane_Wyman
Duplicate person: Nancy_Reagan
Duplicate person: Rosalynn_Carter
Duplicate person: Lady_Bird_Johnson
Duplicate person: George_W._Bush
Duplicate person: Neilia_Hunter_Biden
Duplicate person: Jill_Biden
Duplicate person: Kerstin_Emhoff
Duplicate person: Kamala_Harris
Duplicate person: Justin_Trudeau
Duplicate person: Dick_Cheney
Duplicate person: Henry_Kissinger
Duplicate person: Dan_Quayle
Duplicate person: Jeff_Bezos
Duplicate person: Mark_Zuckerberg
Duplicate person: Brett_Kavanaugh
Duplicate person: Vladimir_Putin
Duplicate person: Bill_Gates
Duplicate person: Xi_Jinping
Duplicate person: Clarence_Thomas
Duplicate person: Janet_Yellen
Duplicate person: Alan_Greenspan
Duplicate person: Edmund_Herring
Duplicate person: Norman_Manley
Duplicate person: John_Monk_Saunders
Duplicate person: Robert_Riskin
Duplicate person: Sherwood_Lett
Duplicate person: Clifford_Durr
Duplicate person: Charles_Collingwood_(journalist)
Duplicate person: F._R._Scott
Duplicate person: John_Turner
Duplicate person: Bob_Hawke
Duplicate person: George_Goodman
Duplicate person: Pete_Dawkins
Duplicate person: Arthur_Hornblow_Jr.
Duplicate person: Gene_Markey
Duplicate person: Howland_H._Sargeant
Duplicate person: Montek_Singh_Ahluwalia
Duplicate person: Griffith_R._Harsh
Duplicate person: Kenneth_Hayne
Duplicate person: Prabhat_Patnaik
Duplicate person: Dick_Celeste
Duplicate person: Kim_Williams_(media_executive)
Duplicate person: Geoffrey_Robertson
Duplicate person: Nicholas_D._Kristof
Duplicate person: Ash_Carter
Duplicate person: Tony_Abbott
Duplicate person: Sarah_Sewall
Duplicate person: Malcolm_Turnbull
Duplicate person: Sagarika_Ghose
Duplicate person: Eric_Greitens
Duplicate person: Daniel_Parke_Custis
Duplicate person: George_Washington
Duplicate person: John_Adams
Duplicate person: Pete_Buttigieg
Duplicate person: William_Henry_Harrison
Duplicate person: John_Tyler
Duplicate person: Thomas_Jefferson
Duplicate person: Andrew_Jackson
Duplicate person: James_Madison
Duplicate person: James_Monroe
Duplicate person: Zachary_Taylor
Duplicate person: James_K._Polk
Duplicate person: John_Quincy_Adams
Duplicate person: Millard_Fillmore
Duplicate person: Franklin_Pierce
Duplicate person: Abraham_Lincoln
Duplicate person: Ulysses_S._Grant
Duplicate person: Andrew_Johnson
Duplicate person: James_A._Garfield
Duplicate person: Chester_A._Arthur
Duplicate person: Benjamin_Harrison
Duplicate person: Grover_Cleveland
Duplicate person: Thomas_J._Preston,_Jr.
Duplicate person: William_McKinley
Duplicate person: Warren_G._Harding
Duplicate person: William_Howard_Taft
Duplicate person: Herbert_Hoover
Duplicate person: Calvin_Coolidge
Duplicate person: Lyndon_B._Johnson
Duplicate person: Theodore_Roosevelt
Duplicate person: Woodrow_Wilson
Duplicate person: Harry_S._Truman
Duplicate person: Franklin_D._Roosevelt
Duplicate person: Dwight_D._Eisenhower
Duplicate person: Gerald_Ford
Duplicate person: George_H._W._Bush
Duplicate person: Richard_Nixon
Duplicate person: John_F._Kennedy
Duplicate person: Assassination_of_John_F._Kennedy
Duplicate person: Aristotle_Onassis
Duplicate person: Donald_Trump
Duplicate person: Joe_Biden
Duplicate person: Barack_Obama
Duplicate person: Ronald_Reagan
Duplicate person: Pierre_Trudeau
Duplicate person: William_Jefferson_Blythe_Jr.
Duplicate person: Roger_Clinton_Sr.
Duplicate person: Jeff_Dwire
Duplicate person: Hugh_Rodham_(born_1911)
Duplicate person: Dorothy_Howell_Rodham
Duplicate person: Virginia_Clinton_Kelley
Duplicate person: Shyamala_Gopalan
Duplicate person: Donald_J._Harris
Duplicate person: Qi_Xin
Duplicate person: Margaret_Trudeau
Duplicate person: Robert_F._Burford
Duplicate person: Elizabeth_Bonython
Duplicate person: Betty_Judge
Duplicate person: Lois_Rice
Duplicate person: George_Edwards_(actor)
Duplicate person: Emmett_J._Rice
Duplicate person: Alfred_B._Fitt
Duplicate person: Frank_Sinatra
Duplicate person: Andr%C3%A9_Previn
Duplicate person: Louise_Lasser
Duplicate person: Soon-Yi_Previn
Duplicate person: Susanna_Boylston
Duplicate person: Hannah_Simpson_Grant
Duplicate person: Jesse_Root_Grant
Duplicate person: Theodore_Roosevelt_Sr.
Duplicate person: Martha_Bulloch_Roosevelt
Duplicate person: Louise_Taft
Duplicate person: Sara_Roosevelt
Duplicate person: James_Roosevelt_I
Duplicate person: Hannah_Milhous_Nixon
Duplicate person: Francis_A._Nixon
Duplicate person: Dorothy_Ayer_Gardner_Ford
Duplicate person: Nelle_Wilson_Reagan
Duplicate person: Lillian_Gordy_Carter
Duplicate person: Leslie_Lynch_King_Sr.
Duplicate person: Gerald_Rudolff_Ford
Duplicate person: Ann_Dunham
Duplicate person: Mary_Anne_MacLeod_Trump
Duplicate person: Barack_Obama_Sr.
Duplicate person: Lolo_Soetoro
Duplicate person: Fred_Trump
Duplicate person: Elaine_Carroll
Duplicate person: Kirill_Shamalov
Duplicate person: Jorrit_Faassen
Duplicate person: Marc_Mezvinsky
Duplicate person: Beverley_Manley
Duplicate person: William_Stephens_Smith
Duplicate person: Thomas_Mann_Randolph_Jr.
Duplicate person: Angelica_Singleton_Van_Buren
Duplicate person: Jefferson_Davis
Duplicate person: William_Wallace_Smith_Bliss
Duplicate person: David_T._Patterson
Duplicate person: Mary_Harlan_Lincoln
Duplicate person: Helen_Newell_Garfield
Duplicate person: Ida_Marie_Honor%C3%A9
Duplicate person: Nicholas_Longworth
Duplicate person: Eleanor_Butler_Roosevelt
Duplicate person: Chuck_Robb
Duplicate person: Curtis_Bean_Dall
Duplicate person: Clarence_John_Boettiger
Duplicate person: Ethel_du_Pont
Duplicate person: Francis_Bowes_Sayre_Sr.
Duplicate person: William_Gibbs_McAdoo
Duplicate person: Betsey_Cushing_Roosevelt_Whitney
Duplicate person: Faye_Emerson
Duplicate person: Edward_F._Cox
Duplicate person: Edwin_Schlossberg
Duplicate person: Carolyn_Bessette-Kennedy
Duplicate person: David_Eisenhower
Duplicate person: David_Sills_(judge)
Duplicate person: Sharon_Bush
Duplicate person: Bobby_Koch
Duplicate person: Paul_Grilley
Duplicate person: Lara_Trump
Duplicate person: Jared_Kushner
Duplicate person: Vanessa_Haydon
Duplicate person: Howard_Krein
Duplicate person: Jacqueline_Kennedy_Onassis
Duplicate person: Anne_Gorsuch_Burford
Duplicate person: Woody_Allen
Duplicate person: Liz_Cheney
Duplicate person: Katerina_Tikhonova
Duplicate person: Chelsea_Clinton
Duplicate person: Maria_Vorontsova
Duplicate person: Robert_Todd_Lincoln
Duplicate person: Abraham_Van_Buren
Duplicate person: Martha_Jefferson_Randolph
Duplicate person: Sarah_Knox_Taylor
Duplicate person: Frederick_Dent_Grant
Duplicate person: Theodore_Roosevelt_Jr.
Duplicate person: Alice_Roosevelt_Longworth
Duplicate person: Franklin_D._Roosevelt_Jr.
Duplicate person: Eleanor_Wilson_McAdoo
Duplicate person: Jessie_Woodrow_Wilson_Sayre
Duplicate person: Lynda_Bird_Johnson_Robb
Duplicate person: Anna_Roosevelt_Halsted
Duplicate person: Caroline_Kennedy
Duplicate person: Elliott_Roosevelt_(general)
Duplicate person: Julie_Nixon_Eisenhower
Duplicate person: Maureen_Reagan
Duplicate person: Jeb_Bush
Duplicate person: John_F._Kennedy_Jr.
Duplicate person: Patti_Davis
Duplicate person: Tricia_Nixon_Cox
Duplicate person: James_Roosevelt
Duplicate person: Eric_Trump
Duplicate person: Dorothy_Bush_Koch
Duplicate person: Donald_Trump_Jr.
Duplicate person: Ivanka_Trump
Duplicate person: Anna_Hall_Roosevelt
Duplicate person: Janet_Lee_Bouvier
Duplicate person: Elliott_Roosevelt_(socialite)
Duplicate person: John_Vernou_Bouvier_III
Duplicate person: Family_of_Barack_Obama#Fraser_C._Robinson_III_(1935–1991)
Duplicate person: Elizabeth_Christ_Trump
Duplicate person: Madelyn_Dunham
Duplicate person: Frederick_Trump
Duplicate person: Stanley_Armour_Dunham
Duplicate person: Pierre_Trudeau
Duplicate person: Margaret_Trudeau
Duplicate person: James_C._Quayle
Duplicate person: William_Jefferson_Blythe_Jr.
Duplicate person: Virginia_Clinton_Kelley
Duplicate person: Donald_J._Harris
Duplicate person: Shyamala_Gopalan
Duplicate person: Anne_Gorsuch_Burford
Duplicate person: Clarence_Hale
Duplicate person: Frederick_George_Scott
Duplicate person: John_Maynard_Harlan
Duplicate person: Ralph_Connor
Duplicate person: August_von_Trott_zu_Solz
Duplicate person: William_Morton_(Manitoba_politician)
Duplicate person: John_Bradfield_(engineer)
Duplicate person: Phyllis_Ross
Duplicate person: Kenneth_Bailey_(lawyer)
Duplicate person: Keith_Wilson_(South_Australian_politician)
Duplicate person: Elizabeth_Bonython
Duplicate person: Lyle_Boren
Duplicate person: Peter_Heydon
Duplicate person: Hsue-Chu_Tsien
Duplicate person: Betty_Binns_Fletcher
Duplicate person: Kim_Beazley_Sr.
Duplicate person: Betty_Judge
Duplicate person: John_Crosbie
Duplicate person: Emmett_J._Rice
Duplicate person: Lois_Rice
Duplicate person: Blair_Clark
Duplicate person: Gil_Garcetti
Duplicate person: Roger_B._Porter
Duplicate person: Mia_Farrow
Duplicate person: Woody_Allen
Duplicate person: Abraham_Van_Buren_(I)
Duplicate person: Benjamin_Harrison_V
Duplicate person: John_Tyler_Sr.
Duplicate person: John_Adams
Duplicate person: Abigail_Adams
Duplicate person: James_Madison_Sr.
Duplicate person: Augustine_Washington
Duplicate person: Mary_Ball_Washington
Duplicate person: Benjamin_Pierce_(governor)
Duplicate person: John_Adams_Sr.
Duplicate person: Susanna_Boylston
Duplicate person: Samuel_Polk
Duplicate person: Nathaniel_Fillmore
Duplicate person: John_Scott_Harrison
Duplicate person: Richard_Falley_Cleveland
Duplicate person: William_McKinley_Sr.
Duplicate person: Alphonso_Taft
Duplicate person: Louise_Taft
Duplicate person: George_Tryon_Harding
Duplicate person: John_Calvin_Coolidge_Sr.
Duplicate person: James_Roosevelt_I
Duplicate person: Sara_Roosevelt
Duplicate person: John_Anderson_Truman
Duplicate person: Martha_Ellen_Young
Duplicate person: Leslie_Lynch_King_Sr.
Duplicate person: Dorothy_Ayer_Gardner_Ford
Duplicate person: Francis_A._Nixon
Duplicate person: Hannah_Milhous_Nixon
Duplicate person: Jack_Reagan
Duplicate person: Nelle_Wilson_Reagan
Duplicate person: James_Earl_Carter_Sr.
Duplicate person: Lillian_Gordy_Carter
Duplicate person: Samuel_Ealy_Johnson_Jr.
Duplicate person: Tom_Hughes_(Australian_politician)
Duplicate person: Dilip_Sardesai
Duplicate person: John_Dandridge
Duplicate person: Frances_Jones_(colonist)
Duplicate person: John_Cleves_Symmes
Duplicate person: John_Donelson
Duplicate person: Jesse_Appleton
Duplicate person: Robert_Smith_Todd
Duplicate person: John_Witherspoon_Scott
Duplicate person: Charles_Carow
Duplicate person: Elliott_Roosevelt_(socialite)
Duplicate person: Anna_Hall_Roosevelt
Duplicate person: Marvin_Pierce
Duplicate person: John_Vernou_Bouvier_III
Duplicate person: Janet_Lee_Bouvier
Duplicate person: Family_of_Barack_Obama#Fraser_C._Robinson_III_(1935–1991)
Duplicate person: Marian_Shields_Robinson
Duplicate person: Edith_Luckett_Davis
Duplicate person: James_Sinclair_(politician)
Duplicate person: P._V._Gopalan
Duplicate person: Charles-%C3%89mile_Trudeau
Duplicate person: John_Marshall_Harlan
Duplicate person: Malvina_Shanklin_Harlan
Duplicate person: William_Clark_(judge)
Duplicate person: Chesley_Crosbie
Duplicate person: Ambrose_Madison
Duplicate person: Benjamin_Harrison_IV
Duplicate person: James_Stephens_Bulloch
Duplicate person: Cornelius_Roosevelt
Duplicate person: Samuel_Ealy_Johnson_Sr.
Duplicate person: Isaac_Roosevelt_(businessman)
Duplicate person: Warren_Delano_Jr.
Duplicate person: Charles_Henry_King
Duplicate person: Family_of_Barack_Obama#Hussein_Onyango_Obama
Duplicate person: Family_of_Barack_Obama#Habiba_Akumu_Obama
Duplicate person: Frederick_Trump
Duplicate person: Elizabeth_Christ_Trump
Duplicate person: Stanley_Armour_Dunham
Duplicate person: Madelyn_Dunham
Duplicate person: George_W._Bush
Duplicate person: Laura_Bush
Duplicate person: Dan_Quayle
Duplicate person: Marilyn_Quayle
Duplicate person: Dick_Cheney
Duplicate person: Lynne_Cheney
Duplicate person: Robert_Reich
Duplicate person: George_Soros
Duplicate person: Philip_Le_Couteur
Duplicate person: Xi_Jinping
Duplicate person: Peng_Liyuan
Duplicate person: Susan_Weber_Soros
Duplicate person: Bill_Clinton
Duplicate person: Hillary_Clinton
Duplicate person: Norman_Manley
Duplicate person: Edna_Manley
Duplicate person: J._King_Gordon
Duplicate person: Otto_Lang
Duplicate person: Girish_Karnad
Duplicate person: Daniel_Parke_Custis
Duplicate person: Martha_Dandridge
Duplicate person: George_Washington
Duplicate person: Kim_Beazley
Duplicate person: David_Hatendi
Duplicate person: Sally_Hemings
Duplicate person: Thomas_Jefferson
Duplicate person: Martha_Wayles_Skelton_Jefferson
Duplicate person: Martin_Van_Buren
Duplicate person: Hannah_Van_Buren
Duplicate person: John_Tyler
Duplicate person: Julia_Gardiner_Tyler
Duplicate person: Zachary_Taylor
Duplicate person: Margaret_Taylor
Duplicate person: John_Quincy_Adams
Duplicate person: Louisa_Adams
Duplicate person: Millard_Fillmore
Duplicate person: Abigail_Powers
Duplicate person: Abraham_Lincoln
Duplicate person: Mary_Todd_Lincoln
Duplicate person: Abigail_Fillmore
Duplicate person: Rutherford_B._Hayes
Duplicate person: Lucy_Webb_Hayes
Duplicate person: Ulysses_S._Grant
Duplicate person: Julia_Grant
Duplicate person: Grover_Cleveland
Duplicate person: Frances_Cleveland
Duplicate person: Frances_Folsom
Duplicate person: Benjamin_Harrison
Duplicate person: Mary_Dimmick_Harrison
Duplicate person: Warren_G._Harding
Duplicate person: Nan_Britton
Duplicate person: Herbert_Clark_Hoover
Duplicate person: Lou_Henry_Hoover
Duplicate person: William_Howard_Taft
Duplicate person: Helen_Herron_Taft
Duplicate person: Theodore_Roosevelt
Duplicate person: Alice_Hathaway_Lee_Roosevelt
Duplicate person: Edith_Roosevelt
Duplicate person: Lyndon_B._Johnson
Duplicate person: Lady_Bird_Johnson
Duplicate person: Calvin_Coolidge
Duplicate person: Grace_Coolidge
Duplicate person: Woodrow_Wilson
Duplicate person: Ellen_Axson_Wilson
Duplicate person: Franklin_D._Roosevelt
Duplicate person: Eleanor_Roosevelt
Duplicate person: John_F._Kennedy
Duplicate person: Jacqueline_Kennedy_Onassis
Duplicate person: Richard_Nixon
Duplicate person: Pat_Nixon
Duplicate person: Dwight_D._Eisenhower
Duplicate person: Mamie_Eisenhower
Duplicate person: Jacqueline_Kennedy
Duplicate person: Harry_S._Truman
Duplicate person: Bess_Truman
Duplicate person: Gerald_Ford
Duplicate person: Betty_Ford
Duplicate person: George_H._W._Bush
Duplicate person: Barbara_Bush
Duplicate person: Donald_Trump
Duplicate person: Marla_Maples
Duplicate person: Ivana_Trump
Duplicate person: Joe_Biden
Duplicate person: Jill_Biden
Duplicate person: Neilia_Hunter_Biden
Duplicate person: John_Eisenhower
Duplicate person: Theodore_Roosevelt_Sr.
Duplicate person: Martha_Bulloch_Roosevelt
Duplicate person: Doug_Emhoff
Duplicate person: Kerstin_Emhoff
Duplicate person: Robert_Riskin
Duplicate person: Fay_Wray
Duplicate person: James_Madison
Duplicate person: Hugh_Rodham_(born_1911)
Duplicate person: Dorothy_Howell_Rodham
Duplicate person: Roger_Clinton_Sr.
Duplicate person: Fred_Trump
Duplicate person: Mary_Anne_MacLeod_Trump
Duplicate person: Gerald_Rudolff_Ford
Duplicate person: Lolo_Soetoro
Duplicate person: Ann_Dunham
Duplicate person: Lyon_Gardiner_Tyler
Duplicate person: Thomas_Mann_Randolph_Jr.
Duplicate person: Martha_Jefferson_Randolph
Duplicate person: Robert_Todd_Lincoln
Duplicate person: Chester_Alan_Arthur_II
Duplicate person: Robert_A._Taft
Duplicate person: Theodore_Roosevelt_Jr.
Duplicate person: Charles_Phelps_Taft_II
Duplicate person: Kermit_Roosevelt
Duplicate person: Francis_Bowes_Sayre_Sr.
Duplicate person: Jessie_Woodrow_Wilson_Sayre
Duplicate person: Anna_Roosevelt_Halsted
Duplicate person: Curtis_Bean_Dall
Duplicate person: Franklin_Delano_Roosevelt_Jr.
Duplicate person: Ethel_du_Pont
Duplicate person: Clarence_John_Boettiger
Duplicate person: Caroline_Kennedy
Duplicate person: Edwin_Schlossberg
Duplicate person: David_Eisenhower
Duplicate person: Julie_Nixon_Eisenhower
Duplicate person: James_Roosevelt
Duplicate person: Edward_F._Cox
Duplicate person: Tricia_Nixon_Cox
Duplicate person: Neil_Bush
Duplicate person: Sharon_Bush
Duplicate person: Betsey_Cushing_Roosevelt_Whitney
Duplicate person: John_Hay_Whitney
Duplicate person: Liz_Cheney
Duplicate person: Mary_Cheney
Duplicate person: Sam_Reich
Duplicate person: Ben_Quayle
Duplicate person: Jonathan_Soros
Duplicate person: Alexander_Soros
Duplicate person: Chelsea_Clinton
Duplicate person: George_Le_Couteur
Duplicate person: Order_of_the_British_Empire
Duplicate person: Douglas_Manley
Duplicate person: Michael_Manley

In [471]:
len(people_list)

1804

In [472]:
csv_writer('wikicrawler/people.csv', people_list)

## Data Cleaning

In [445]:
df = pd.read_csv('wikicrawler/people_data_temp.csv')
df

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [446]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   schools     842 non-null    object
 1   degrees     320 non-null    object
 2   name        1233 non-null   object
 3   full_name   581 non-null    object
 4   DOB         1225 non-null   object
 5   occupation  405 non-null    object
 6   spouses     698 non-null    object
 7   offspring   574 non-null    object
dtypes: object(8)
memory usage: 82.3+ KB

In [447]:
df_full = df.dropna(how='all')
df_full

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [458]:
# Drop all rows without a name
df_all_names = df_full.dropna(subset=['name'])
df_all_names

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [459]:
df_all_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   schools     835 non-null    object
 1   degrees     320 non-null    object
 2   name        1233 non-null   object
 3   full_name   581 non-null    object
 4   DOB         1163 non-null   object
 5   occupation  405 non-null    object
 6   spouses     697 non-null    object
 7   offspring   573 non-null    object
dtypes: object(8)
memory usage: 86.7+ KB

In [460]:
df_no_gaps = df_all_names.drop_duplicates()
df_no_gaps

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [461]:
df_no_gaps.to_csv('wikicrawler/people_data.csv')

In [462]:
df_degrees = df_no_gaps.dropna(subset=['schools', 'degrees'])

In [463]:
# Rearrange columns and sort on name
df_degrees = df_degrees[['name', 'full_name', 'DOB', 'occupation', 'schools', 'degrees', 'spouses', 'offspring']]
df_degrees.sort_values(by='name', ignore_index=True, inplace=True)
df_degrees

,name,full_name,DOB,occupation,schools,degrees,spouses,offspring
0,A. Clayton Spencer,Ava Clayton Spencer,1954-12-15 00:00:00,NaN,"Williams College,University of Oxford,Harvard ...","MA,BA,JD",Ash Carter,2
1,Abdul El-Sayed,Abdulrahman Mohamed El-Sayed,1984-10-31 00:00:00,NaN,"University of Michigan,Oriel College, Oxford,C...","MA,PhD,MD,BS",Sarah Jukaku,NaN
2,Alan Bersin,NaN,1946-10-15 00:00:00,NaN,"Harvard University,Yale University","BA,JD",Lisa Foster,NaN
3,Alan Chester Valentine,NaN,1901-02-23 00:00:00,NaN,"Swarthmore College,University of Pennsylvania,...","University of Pennsylvania,Balliol College, Ox...",Lucia Garrison Norton,Annie Laurie Buffinton
4,Alan Greenspan,NaN,1926-03-06 00:00:00,NaN,New York University,"PhD,MA,BA",Andrea Mitchell,NaN
...,...,...,...,...,...,...,...,...
308,William McAdoo,William Gibbs McAdoo Jr.,1863-10-31 00:00:00,NaN,"University of Tennessee, Knoxville",BA,Eleanor Wilson McAdoo,9
309,William McRae,William Allan McRae Jr.,1909-09-25 00:00:00,NaN,"University of Florida,University of Oxford,Fre...","B.A.,J.D.,B.Litt.,A.B.,B.A.,J.D.,B.Litt.,A.B.",NaN,NaN
310,William Taft,NaN,1945-09-13 00:00:00,NaN,"Yale University,Harvard University","BA,JD",Julia V. Taft,3
311,Wilson Elkins,Wilson Homer Elkins,1908-07-09 00:00:00,NaN,"University of Texas, Austin","MA,BA",Dorothy Blackburn,2
312,Xi Mingze,习明泽,1992-06-25 00:00:00,NaN,Harvard University,BA,NaN,NaN

In [454]:
df_degrees.set_index('name', drop=True, inplace=True)
df_degrees

,full_name,DOB,occupation,schools,degrees,spouses,offspring
name,,,,,,,
A. Clayton Spencer,Ava Clayton Spencer,1954-12-15 00:00:00,NaN,"Williams College,University of Oxford,Harvard ...","MA,BA,JD",Ash Carter,2
Abdul El-Sayed,Abdulrahman Mohamed El-Sayed,1984-10-31 00:00:00,NaN,"University of Michigan,Oriel College, Oxford,C...","MA,PhD,MD,BS",Sarah Jukaku,NaN
Alan Bersin,NaN,1946-10-15 00:00:00,NaN,"Harvard University,Yale University","BA,JD",Lisa Foster,NaN
Alan Chester Valentine,NaN,1901-02-23 00:00:00,NaN,"Swarthmore College,University of Pennsylvania,...","University of Pennsylvania,Balliol College, Ox...",Lucia Garrison Norton,Annie Laurie Buffinton
Alan Greenspan,NaN,1926-03-06 00:00:00,NaN,New York University,"PhD,MA,BA",Andrea Mitchell,NaN
...,...,...,...,...,...,...,...
William McAdoo,William Gibbs McAdoo Jr.,1863-10-31 00:00:00,NaN,"University of Tennessee, Knoxville",BA,Eleanor Wilson McAdoo,9
William McRae,William Allan McRae Jr.,1909-09-25 00:00:00,NaN,"University of Florida,University of Oxford,Fre...","B.A.,J.D.,B.Litt.,A.B.,B.A.,J.D.,B.Litt.,A.B.",NaN,NaN
William Taft,NaN,1945-09-13 00:00:00,NaN,"Yale University,Harvard University","BA,JD",Julia V. Taft,3
Wilson Elkins,Wilson Homer Elkins,1908-07-09 00:00:00,NaN,"University of Texas, Austin","MA,BA",Dorothy Blackburn,2
Xi Mingze,习明泽,1992-06-25 00:00:00,NaN,Harvard University,BA,NaN,NaN

In [455]:
# df_degrees = df_degrees.replace({np.nan:None})

In [456]:
def date_converter(x):
    if x:
        if '-' in x:
            updated = dt.strptime(str(x), '%Y-%m-%d %H:%M:%S')
        elif '/' in x:
            updated = dt.strptime(str(x), '%m/%d/%Y %H:%M:%S')
        else:
            return None
        print(updated)
        return updated.strftme('%Y-%m-%d')        
    else:
        return None

In [457]:
# df_degrees['DOB'] = np.vectorize(date_converter)(df_degrees['DOB'])
df_degrees['DOB'] = pd.to_datetime(df_degrees.DOB)
df_degrees['DOB'] = df_degrees['DOB'].dt.strftime('%Y-%m-%d')
df_degrees

ValueError: ('Unknown string format:', '1989 or 1990 (age\xa031–32)')

In [ ]:
df_degrees.to_csv('wikicrawler/people_data_full.csv')

## Rhodes Scholars

In [ ]:
rhodes_df = pd.read_csv('rhodescholars/rhodes_data.csv')
rhodes_df

In [ ]:
df_occupations = rhodes_df.merge(df_no_gaps, on='name', how='outer')
df_occupations

In [414]:
df_occupations.to_csv('wikicrawler/merged_occupations.csv')