<h1 align='center'>MSDE 692</h1>

[Function Definitions](#Function-Definitions)

[Data Cleaning](#Data-Cleaning)

In [73]:
import os
import pandas as pd
import neo4j
import numpy as np
import csv

from functools import reduce
from datetime import datetime as dt
from csv import DictReader, writer

## Function Definitions

In [95]:
def csv_reader(csv_file):
    final_list = []

    with open(csv_file, 'r') as f:
        input_list = csv.DictReader(f)

        for item in input_list:
            final_list.append(item['wiki'])
            
    return final_list

In [110]:
def people_pruner(my_file):
    my_list = []

    with open(my_file, 'r') as f:
        reader = DictReader(f, fieldnames='person')

        for row in reader:
            if [row['p']] not in my_list:
                my_list.append([row['p']])
            else:
                print(f"Duplicate person: {row['p']}")
    
    return my_list

In [113]:
def csv_writer(my_file, my_list):

    with open(my_file, 'w', newline='') as outfile:

        # using csv.writer method from CSV package
        csv_writer = writer(outfile)

        for row in my_list:
            csv_writer.writerows(row)

In [115]:
def csv_dict_writer(my_file, my_list):
    with open(my_file, 'w', newline='') as f:
        writer = csv.DictWriter(f, fieldnames=['wiki'])
        
        for row in my_list:
            writer.writerow({'wiki': row})

## Data Cleaning

### Create Difference CSV File for wikigrabber Spider Runs

In [150]:
people_list = csv_reader('wikigrabber/people.csv')
people_base_list = csv_reader('wikigrabber/people_base.csv')
people_set = set(people_list)
people_base_set = set(people_base_list)

In [151]:
# The difference between people and people_base are the new wiki pages discovered
# These will be used for the next grabwikis spider run
new_names = list(set.difference(people_set, people_base_set))
new_names

['Hugh_Cholmondeley,_5th_Baron_Delamere',
 'Danford_N._Barney',
 'Stella_Hammerstein',
 'David_Bailey',
 'Henry_White_(diplomat)',
 'Gladys_Deacon',
 'Peggy_Schuyler',
 'Lucy_Wharton_Drexel',
 'Henry_Cadogan',
 'Thomas_van_Straubenzee',
 'Henry_Paget,_1st_Marquess_of_Anglesey',
 'Frances_Ford_Seymour',
 'Caroline_Townshend,_1st_Baroness_Greenwich',
 'Jeffrey_Lynn',
 'Lord_Herbert_Montagu_Douglas_Scott',
 'Auchincloss',
 'Brigitte_Bardot',
 'John_Jacob_Astor,_1st_Baron_Astor_of_Hever',
 'Robert_Montagu,_3rd_Duke_of_Manchester',
 'Elizabeth_Herbert,_Countess_of_Pembroke_and_Montgomery',
 'Michelle_Phillips',
 'Wilhelm_von_Opel',
 'Alice_Claypoole_Vanderbilt',
 'Jean_Templeton_Ward',
 'Elizabeth_Harrison_Walker',
 'Blanche_de_Loosey_Oelrichs',
 'Robert_Livingston_Gerry,_Sr.#Family',
 'James_Watson_Webb',
 'Alexander_Slidell_Mackenzie',
 'Robert_Guestier_Goelet',
 'Charles_Vane-Tempest-Stewart,_6th_Marquess_of_Londonderry',
 'George_Macculloch_Miller',
 'Richard_Burton',
 'Maturin_Livingston',
 'Alfred_Harmsworth,_1st_Viscount_Northcliffe',
 'Peter_Augustus_Jay_(diplomat)',
 'Lena_Horne',
 'Christopher_G._Kennedy',
 'Anne_Spencer,_Countess_of_Sunderland_(1683%E2%80%931716)',
 'Thomas_Kean',
 'Lewis_Cass_Ledyard',
 'Jimmy_Van_Alen',
 'Lewis_Morris_Rutherfurd,_Jr.',
 'Margaret_Roach',
 'Oliver_Eaton_Cromwell',
 'Flora_Miller_Biddle',
 'Harry_Hays_Morgan_Jr.',
 'Edward_Smith-Stanley,_12th_Earl_of_Derby',
 'Suzy_Frelinghuysen',
 'Peter_Augustus_Jay_(Assemblyman)',
 'Alfred_Gwynne_Vanderbilt',
 'William_Mure_(scholar)',
 'Stella_Tennant',
 'Michael_Wilding',
 'John_Adolphus_Bernard_Dahlgren',
 'Doris_Duke',
 'Ruthanna_Hopper',
 'Abraham_Cuyler',
 'Shirley_Carter_Burden_Jr.',
 'Helen_Day_Miller',
 'John_Spencer-Churchill,_10th_Duke_of_Marlborough',
 'Dorothy_Payne_Whitney',
 'Robert_L._Gerry,_Jr',
 'Francis_Russell,_7th_Duke_of_Bedford',
 'Madeleine_Vinton_Dahlgren',
 'Peter_Fonda',
 'Oliver_Harriman,_Jr.',
 'Dorothy_Spencer,_Countess_of_Sunderland',
 'Walter_Livingston',
 'Princess_Beatrice',
 'Danielle_Darrieux',
 'J._Griswold_Webb',
 'Francis_Russell,_Marquess_of_Tavistock',
 'George_Innes-Ker,_9th_Duke_of_Roxburghe',
 'Michael_Straight',
 'Ivor_Guest,_1st_Baron_Wimborne',
 'Teddy_Stauffer',
 'Dorothy_Straight',
 'William_Cavendish_(1783-1812)',
 'Stephen_Van_Rensselaer_II',
 'Alfred_Hennen_Morris',
 'Patrick_Bouvier_Kennedy',
 'Richard_Jordan',
 'John_Hubert_Ward',
 'George_Cary_(architect)',
 'Philip_Jeremiah_Schuyler',
 'Victor_Chapman',
 'Beatrice_Forbes,_Countess_of_Granard',
 'Hermann_Oelrichs',
 'Henry_Percy,_Earl_Percy',
 'Robert_Olds',
 'Jacques_Balsan',
 'William_Montagu_Douglas_Scott,_6th_Duke_of_Buccleuch',
 'Charles_Stanhope,_3rd_Earl_of_Harrington',
 'Lord_William_Beresford',
 'Walter_Wanger',
 'Charles_Lennox,_2nd_Duke_of_Richmond',
 'William_Humble_Ward,_10th_Baron_Ward',
 'Charles_Calvert,_3rd_Baron_Baltimore',
 'William_Russell,_8th_Duke_of_Bedford',
 'Alva_Erskine_Smith',
 'John_Jacob_Astor',
 'Mike_Todd',
 'Kasim_Khan',
 'Bushra_Bibi',
 'Lionel_Monckton',
 'Pamela_Harmsworth,_Viscountess_Rothermere',
 'Anne_Emily_Spencer-Churchill',
 'Henry_Francis_du_Pont',
 'William_Montagu,_5th_Duke_of_Manchester',
 'Oliver_Harriman',
 'Margaret_Louisa_Vanderbilt',
 'Jacqueline_Kennedy',
 'Anthony_Shriver',
 'Evelyn_Cavendish,_Duchess_of_Devonshire',
 'Henry_Paget,_2nd_Marquess_of_Anglesey',
 'Filippo_De_Filippi_(explorer)',
 'Robert_Montagu,_3rd_Earl_of_Manchester',
 'Angelica_Schuyler_Church',
 'Lord_Charles_Petty-Fitzmaurice',
 'Diana_Churchill',
 'Trumbull_Cary',
 'Angelica_Livingston_Hamilton',
 'Augustine_Washington',
 'Beatrice_Whitney_Straight',
 'Jane_Spencer-Churchill,_Duchess_of_Marlborough_(1798%E2%80%931844)',
 'Caroline_Schermerhorn_Astor',
 'William_Douglas_Sloane',
 'Gertrude_Conaway_Vanderbilt',
 'Herbert_Ross',
 'Robert_Montagu_(politician)',
 'Lady_Norah_Spencer-Churchill',
 'William_Horsley-Beresford,_3rd_Baron_Decies',
 'John_H._Russell,_Jr.',
 'Ava_Alice_Muriel_Astor',
 'Whitney_Tower',
 'James_Stewart_(advocate)',
 'Alexander_Macmillan,_2nd_Earl_of_Stockton',
 'Elizabeth_Calvert',
 'Charles_Spencer,_3rd_Earl_of_Sunderland',
 'Sarah_Millicent_Hermione_Churchill',
 'Katherine_Mansfield',
 'Sarah_Churchill_(actress)',
 'Lord_Edward_Russell',
 'Josiah_Charles_Trent',
 'Simeon_Griswold',
 'Joseph_P._Kennedy_II',
 'Elliot_Fitch_Shepard',
 'Phillip_Calvert_(governor)',
 'Reham_Khan',
 'Peter_Goelet',
 'John_Jacob_Astor_VI',
 'Kathleen_Kennedy_Townsend',
 'Casey_Hayden',
 'John_Scott_Harrison',
 'Raymond_Rodgers_Belmont',
 'George_Henry_Calvert',
 'Harold_Macmillan',
 'Caroline_Kennedy',
 'William_Ward,_2nd_Earl_of_Dudley',
 'Martha_Parke_Custis',
 'Henry_Douglas-Scott-Montagu,_1st_Baron_Montagu_of_Beaulieu',
 'George_Henry_Warren',
 'Jennie_Jerome',
 'Ogden_Goelet',
 'Thomas_Pakenham,_2nd_Earl_of_Longford',
 'Sarah,_Duchess_of_York',
 'Tweed_Roosevelt',
 'Chester_C._Bolton',
 'Charles_B._Bolton',
 'Patrick_Bauchau',
 'Matthew_Clarkson',
 'Abraham_Schermerhorn',
 'Robert_Spencer,_1st_Viscount_Teviot',
 'William_W._Belknap',
 'Sara_Wilford',
 'Bridget_Fonda',
 'Harpo_Marx',
 'Francis_Lewis',
 'Helen_Vivien_Gould',
 'Oskar_Homolka',
 'Charles_Petty-Fitzmaurice,_9th_Marquess_of_Lansdowne',
 'Jane_Percy,_Duchess_of_Northumberland',
 'Sir_James_Stewart_(Lord_Advocate)',
 'Sargent_Shriver',
 'Hugh_Judson_Kilpatrick',
 'William_Cavendish,_4th_Duke_of_Devonshire',
 'Robert_Desha',
 'Rebecca_Minot_Prescott',
 'Rose_Kennedy',
 'Fritz_von_Opel',
 'Florence_Rice',
 'Lady_Anne_Tree#Personal_life',
 'John_Custis',
 'Mary_Lillian_Duke',
 'Elena_Ford',
 'Herbert_M._Harriman',
 'Daria_Halprin',
 'Athina_Onassis',
 'James_Innes-Ker,_6th_Duke_of_Roxburghe',
 'Calmer_Hambro',
 'Hendrick_van_Rensselaer',
 'John_Dandridge',
 'Virginia_Fair_Vanderbilt',
 'Guy_Finch-Hatton,_14th_Earl_of_Winchilsea',
 'Bertrand_Russell',
 'Robert_Herbert,_12th_Earl_of_Pembroke',
 'Robyn_Smith',
 'Ann_Gerry',
 'Frederick_William_Vanderbilt',
 'Barbara_Hutton',
 'Harold_Harmsworth,_1st_Viscount_Rothermere',
 'Lord_Wriothesley_Russell',
 'Rose_Post_Howard',
 'Charles_Calvert,_5th_Baron_Baltimore',
 'Christopher_Masterson',
 'Gilbert_Elliot-Murray-Kynynmound,_4th_Earl_of_Minto',
 'Edmund_Law',
 'Constance_Lewes',
 'Henry_Wellesley,_1st_Baron_Cowley',
 'Madge_Carr_Cook',
 'Charles_J._T._Hambro',
 'Leila_Griswold_Webb_Codman',
 'Albert_Carlton_Bostwick',
 'Mary_Harmsworth,_Viscountess_Northcliffe',
 'Lorinda_de_Roulet',
 'Brownlow_Cecil,_2nd_Marquess_of_Exeter',
 'Benjamin_Newton_Duke',
 'John_Parke_Custis',
 'Marie_Norton_Harriman',
 'George_Cavendish_(Aylesbury_MP)',
 'Lady_Louisa_Conolly',
 'Lady_Elizabeth_Cavendish',
 'George_Washington_Vanderbilt_II',
 'James_C._Auchincloss',
 'Astor_family',
 'Bamber_Gascoigne',
 'Margaret_Stuyvesant_Murat',
 'Elizabeth_Hamilton,_Duchess_of_Hamilton',
 'Payne_Whitney',
 'Christopher_Soames',
 'David_Cecil,_6th_Marquess_of_Exeter',
 'Washington_Allston',
 'Henry_A._Livingston',
 'Christopher_Furness_(VC)',
 'Michael_Strange',
 'Frances_Jones_(colonist)',
 'Michael_Temple_Canfield',
 'Steffi_Duna',
 'David_Mure',
 'Benedict_Leonard_Calvert',
 'Anthony_Joseph_Drexel_III',
 'Bessie_Love',
 'Caroline_Harrison',
 'Lord_Randolph_Churchill',
 'Thomas_Gore',
 'Mark_Faber',
 'Katharine_Macmillan,_Viscountess_Macmillan_of_Ovenden',
 'Bevan_Dufty',
 'Lewis_Polk_Rutherfurd',
 'Van_Rensselaer_family',
 'Edward_M._Kennedy_Jr.',
 'Henry_Petty-FitzMaurice,_5th_Marquess_of_Lansdowne',
 'Fielding_Lewis',
 'Allan_McLane_Hamilton',
 'Jabez_A._Bostwick',
 'John_Armstrong_Drexel',
 'Lord_Charles_Russell',
 'Vanderbilt_family',
 'Thierry_Roussel',
 'Florence_Jaffray_Harriman',
 'Robert_E._Lee_Jr.',
 'George_Finch-Hatton,_10th_Earl_of_Winchilsea',
 'Dave_Hennen_Morris',
 'Rory_Kennedy',
 'Henry_B._Payne',
 'Eugene_Vidal',
 'Katharine_Drexel',
 'Slim_Keith',
 'Robert_Goelet',
 'Louis_McLane_Hamilton',
 'Harold_Harmsworth',
 'Margaret_Tallichet',
 'Addison_Randall',
 'Anthony_Joseph_Drexel_Biddle,_Sr.',
 'Charles_T._Barney',
 'Henry_Harford',
 'Anna_Gould',
 'Lord_Walter_Gordon-Lennox',
 'Arthur_Granville_Soames',
 'Arabella_Churchill_(charity_founder)',
 'John_Hay',
 'Nicholas_van_Rensselaer_(minister)',
 'Winthrop_Rutherfurd',
 'Alastair_Morrison,_3rd_Baron_Margadale',
 'Hannah_Whitall_Smith',
 'William_Kennedy_Smith',
 'Boson_de_Talleyrand-P%C3%A9rigord',
 'Oliver_P._Bolton',
 'Waldorf_Astor,_2nd_Viscount_Astor',
 'David_Brand,_5th_Viscount_Hampden',
 'Nina_Straight',
 'Pamela_Harriman',
 'Benjamin_Harrison_V',
 'Helen_Percy,_Duchess_of_Northumberland',
 'Lady_Florence_Chaplin',
 'Frank_Jay_Gould',
 'Guy_Finch-Hatton,_14th_Earl_of_Winchilsea#Personal_life',
 'Anne_Spencer,_Countess_of_Sunderland_(d._1715)',
 'Peter_Goelet_Gerry',
 'William_Short_(American_ambassador)',
 'Daisy,_Princess_of_Pless',
 'Thomas_E._Davis',
 'William_Sloane_Coffin_Jr.',
 'Gloria_Blondell',
 'Vivian_Francis_Bulkeley-Johnson',
 'Carl_Laemmle_Jr.',
 'Jack_Randall_(actor)',
 'Giray_dynasty',
 'Louise_E._du_Pont_Crowninshield',
 'Eleanor_Parke_Custis_Lewis',
 'Larry_Fortensky',
 'Frances_Stewart,_Marchioness_of_Londonderry',
 'Lady_Henrietta_Spencer-Churchill',
 'Sarah_Baring',
 'Aubrey_Spencer',
 'Lorillard_S._Spencer',
 'John_Cleves_Symmes_Jr.',
 'Lady_Sarah_Lennox',
 'Alfred_Gwynne_Vanderbilt_III',
 'Marietta_Peabody_Tree',
 'Thomas_Taylour,_2nd_Marquess_of_Headfort',
 'Zac_Goldsmith',
 'Elizabeth_Schuyler_Hamilton',
 'Charles_Lennox,_3rd_Duke_of_Richmond',
 'Margarita_%22Peggy%22_Schuyler_Van_Rensselaer',
 'Diana_Delves-Broughton',
 'Pierre_Van_Cortlandt',
 'Conrad_Hilton_Jr.',
 'Philip_Niarchos',
 'Groucho_Marx',
 'Sir_Hildebrand_Harmsworth,_1st_Baronet',
 'Duke_of_Buccleuch',
 'Edmond_Fitzmaurice,_1st_Baron_Fitzmaurice',
 'Athole_Shearer',
 'Sarah_Wilson_(war_correspondent)',
 'Henry_Morgan_Tilford',
 'Washington_Duke',
 'Howland_H._Sargeant',
 'Alfred_Harmsworth_(1837-1889)',
 'Lord_Robert_Spencer',
 'Raymond_R._Guest',
 'Family_of_David_Cameron',
 'Edith_Kingdon_Gould',
 'Henry_Collins_Flagg',
 'James_Graham,_3rd_Duke_of_Montrose',
 'Babe_Paley',
 'Robert_Gould_Shaw_II',
 'Jimmy_Carter',
 'Clare_Boothe_Luce',
 'Kiliaen_Van_Rensselaer_(fifth_patroon)',
 'William_Amherst_Vanderbilt_Cecil',
 'Bronwen_Astor',
 'Charles_Lennox,_4th_Duke_of_Richmond',
 'David_Faber_(politician)',
 'Everard_Hambro',
 'William_Payne_Whitney',
 'Richard_Thornton_Wilson_Jr.',
 'Paul_Meurisse',
 'John_Astor,_3rd_Baron_Astor_of_Hever',
 'Elizabeth_Campbell,_1st_Baroness_Hamilton_of_Hameldon',
 'George_Barnes_(cinematographer)',
 'Rosita_Spencer-Churchill,_Duchess_of_Marlborough',
 'Margarita_Schuyler',
 'Henry_F._Dimock',
 'James_Spencer-Churchill,_12th_Duke_of_Marlborough',
 'Pierre_Jay',
 'Vere_Harmsworth',
 'Tina_Onassis_Niarchos',
 'Anthony_Joseph_Drexel_Biddle,_Jr.',
 'Lord_Ivor_Spencer-Churchill',
 'Alfred_Harmsworth_(1837%E2%80%931889)',
 'Edwin_Gould',
 'James_Watson_Webb_II',
 'Nathalie_Vadim',
 'Mary_Cavendish,_Duchess_of_Devonshire',
 'Irene_Astor,_Baroness_Astor_of_Hever',
 'Christopher_Lawford',
 'Family_of_Imran_Khan',
 'Rosalie_Stier_Calvert',
 'Mary_Astor',
 'Leslie_Kean',
 'John_F._Kennedy_Jr.',
 'Sir_James_Grant,_6th_Baronet',
 'Robert_R._Livingston_(chancellor)',
 'Mary_Custis_Lee',
 'George_Henry_Vanderbilt_Cecil',
 'Robert_Goelet_Sr.',
 'Betty_Washington_Lewis',
 'Troy_Garity',
 'Philip_Livingston_(1686-1749)',
 'Sarah_Livingston_Jay',
 'Barbara_Williams_(actress)',
 'George_Montagu,_8th_Duke_of_Manchester',
 'Charles_Ashe_%C3%A0_Court-Repington',
 'Joan_Bennett_Kennedy',
 'Remy_W._Trafelet',
 'William_Cavendish,_Marquess_of_Hartington',
 'Georges_de_la_Falaise',
 'Alanna_Masterson',
 'Bernard_Forbes,_8th_Earl_of_Granard',
 'Augustus_Newbold_Morris',
 'Ogden_Mills_(financier)',
 'John_Henry_Russell',
 'George_Washington_Custis_Lee',
 'Anne_Hamilton,_Duchess_of_Hamilton',
 'Dirck_Ten_Broeck',
 'Johannes_Pieterse_van_Brugh',
 'Irving_Thalberg_Jr.',
 'Kennedy_family',
 'Marie-Christine_Barrault',
 'William_Montagu,_7th_Duke_of_Manchester',
 'Elizabeth_Scott,_Duchess_of_Buccleuch_(1743-1827)',
 'George_Jay_Gould',
 'Hugo_Dixon',
 'Leonard_Calvert',
 'Leopold_Stokowski',
 'Katharine_Russell,_Viscountess_Amberley',
 'Robert_F._Kennedy_Jr.',
 'Liz_Whitney_Tippett',
 'George_Spencer-Churchill,_8th_Duke_of_Marlborough',
 'Mary_Harrison_McKee',
 'Mary_Berenson',
 'Frank_Russell,_2nd_Earl_Russell',
 'Robert_Livingston_(1688-1775)',
 'Beatrice_Ashley',
 'Sir_Nicholas_Bayly,_2nd_Baronet',
 'Bobby_Cannavale',
 'Loulou_de_La_Falaise',
 'Caroline_Graham,_Duchess_of_Montrose',
 'Anne_Arundell',
 'Susan_Blanchard_(socialite)',
 'Charles_Gordon-Lennox,_5th_Duke_of_Richmond',
 'Cecil_Harmsworth,_1st_Baron_Harmsworth',
 'Charles_Cavendish,_1st_Baron_Chesham',
 'James_Steuart_(economist)',
 'Victoria_Reggie_Kennedy',
 'Vanessa_Claire_Stewart',
 'Chiswell_Langhorne',
 'George_Finch-Hatton,_11th_Earl_of_Winchilsea',
 'George_Whiting_Flagg',
 'Charles_Jocelyn_Hambro',
 'Alexander_Scrymgeour,_12th_Earl_of_Dundee',
 'Friedrich_Mandl',
 'Stanis%C5%82aw_Albrecht_Radziwi%C5%82%C5%82',
 'Samantha_Cameron',
 'Lady_Anne_Tree',
 'William_Henry_Fitzhugh_Lee',
 'Harrison_family_of_Virginia',
 'Douglas_Douglas-Hamilton,_14th_Duke_of_Hamilton',
 'Eddy_Duchin',
 'Peter_A._Jay',
 'William_Astor,_4th_Viscount_Astor',
 'Arthur_Hornblow_Jr.',
 'Jacqueline_Kennedy_Onassis',
 'William_Cecil,_7th_Marquess_of_Exeter',
 'Elizabeth_Diana_Percy,_Duchess_of_Northumberland',
 'Van_Cortlandt_family',
 'J._Borden_Harriman',
 'Henry_Cadogan_(British_Army_officer)',
 'Joseph_Hambro',
 'Ogden_Mills_Reid',
 'Richard_Mortimer',
 'Schuyler_family',
 'Algernon_Percy,_6th_Duke_of_Northumberland',
 'Robert_Livingston_(1718%E2%80%931775)',
 'H%C3%A9ctor_Barrantes',
 'Ann_Fleming',
 'Lord_John_Lennox',
 'Zeppo_Marx',
 'William_Syphax',
 'Gilbert_Livingston_(1690%E2%80%931746)',
 'Samuel_Endicott_Peabody',
 'Cherry_Huggins',
 'Thomas_Guinzburg',
 'Brooke_Hayward',
 'Francis_Peabody_Jr.',
 'Pat_DiCicco',
 'Pollyanna_McIntosh',
 'Anderson_Cooper',
 'Logan_Pearsall_Smith',
 'Lilly_Pulitzer',
 'William_Ward,_3rd_Earl_of_Dudley',
 'Sidney_Lumet',
 'Charles_Innes-Ker,_11th_Duke_of_Roxburghe',
 'William_Anthony_Furness,_2nd_Viscount_Furness',
 'John_Winthrop_Chanler',
 'Cornelius_Vanderbilt',
 'Dorothy_Stokes_Bostwick',
 'Anne_Hill_Carter_Lee',
 'Hugh_Cholmondeley,_3rd_Baron_Delamere',
 'Wriothesley_Russell,_2nd_Duke_of_Bedford',
 'John_Henry_Hammond_II',
 'George_Lyttelton,_4th_Baron_Lyttelton',
 'William_Cavendish_(MP_for_Derby)',
 'Wyatt_Emory_Cooper',
 'Charles_Wilkins_Short',
 'M._Carey_Thomas',
 'Colin_G._Campbell',
 'Lord_Alfred_Paget',
 'Amasa_Stone',
 'Eleanor_Agnes_Lee',
 'Arthur_Forbes,_9th_Earl_of_Granard',
 'Ernest_Flagg',
 'John_Dryden_Kuser',
 'Legal_separation',
 'Charles_Eric_Hambro',
 'Charles_Shipman_Payson',
 'Barbara_Broccoli',
 'Henry_Olin',
 'Angier_Biddle_Duke',
 'Charlotte_Lee,_Lady_Baltimore',
 'Elaine_Hammerstein',
 'Russell_Benjamin_Harrison',
 'Margaret_Louisa_Vanderbilt_Shepard',
 'Bijou_Phillips',
 'Lyttelton_family',
 'Rutherfurd_Stuyvesant',
 'Charles_Gordon-Lennox,_7th_Duke_of_Richmond',
 'Gladys_Vanderbilt_Sz%C3%A9chenyi',
 'Anne_Carter_Lee',
 'Henry_Bell_Van_Rensselaer',
 'Sulaiman_Isa_Khan',
 'Lord_Frederick_Montagu',
 'Laura_Sandys',
 'Lawrence_Weingarten',
 'Tatiana_Hambro',
 'Charlotte_Tooker_Warren',
 'Joseph_P._Kennedy',
 'Johan_van_Rensselaer',
 'Louisa_Acheson,_Countess_of_Gosford',
 'George_Montagu,_6th_Duke_of_Manchester',
 'Catherine_Vorontsov',
 'Eugenia_Livanos',
 'Pauline_Payne_Whitney',
 'Howard_Gould',
 'Mary_Harriman_Rumsey',
 'Lord_Charles_Montagu_Douglas_Scott',
 'Oliver_H._Payne',
 'Pierre_Van_Cortlandt,_Jr.',
 'Anthony_Joseph_Drexel_Jr.',
 'Clementine_Churchill',
 'Lord_Edward_Cavendish',
 'Mary_Montagu_Douglas_Scott,_Duchess_of_Buccleuch_and_Queensberry',
 'Cotterell_baronets',
 'Anthony_Joseph_Drexel_Biddle_Jr.',
 'Caroline_Spencer,_Duchess_of_Marlborough',
 'Jordan_Masterson',
 'Patrick_J._Kennedy',
 'George_Cornwallis-West',
 'Alexander_Gordon,_4th_Duke_of_Gordon',
 'John_Jay_(lawyer)',
 'Hugo_Charteris',
 'Max_Kennedy',
 'Dick_Powell',
 'Huntington_family',
 'Ruth_Mary_Clarisse_Ashley',
 'Eliza_Schuyler_Hamilton',
 'Constance_Lewis',
 'Nicholas_Van_Rensselaer_(minister)',
 'George_Thynne,_2nd_Baron_Carteret',
 'Kara_Kennedy',
 'Diana_Barrymore',
 'Robert_Pearsall_Smith',
 'Betsey_Cushing_Roosevelt_Whitney',
 'Michael_G._Wilson',
 'Louis_Dolivet',
 'Florence_Smythe',
 'Robert_L._Gerry_Jr.',
 'Chico_Marx',
 'Barrymore_family',
 'Edith_Vane-Tempest-Stewart,_Marchioness_of_Londonderry',
 'Vincent_Astor',
 'Johannes_van_Rensselaer',
 'Oliver_Belmont',
 'Christian_Vadim',
 'David_Stuart_(Virginia)',
 'Florence_Roberts_(stage_actress)',
 'Charles_Lawrance',
 'Harrison_family',
 'Whitney_Willard_Straight',
 'John_Jay_Mortimer',
 'Jane_Fonda',
 'Vere_Harmsworth,_3rd_Viscount_Rothermere',
 'Al_Shean',
 'Helen_Miller_Shepard',
 'Peter_G._Gerry',
 'George_Spencer-Churchill,_6th_Duke_of_Marlborough',
 'Henry-Louis_de_La_Grange',
 'Spyros_Niarchos',
 'Death_of_Sophie_Toscan_du_Plantier',
 'Peter_Cookson',
 'Edwin_Gould_Sr.',
 'Thelma,_Viscountess_Furness',
 'James_Roosevelt_(lawyer)',
 'Mary_Soames,_Baroness_Soames',
 'John_B._Syphax',
 'Julian_Faber',
 'Margret_Lewis_Livingston',
 'George_Cadogan,_3rd_Earl_Cadogan',
 'Schuyler_Hamilton',
 'Harry_Innes_(politician)',
 'Peter_Stuyvesant_(merchant)',
 'Diana_Russell,_Duchess_of_Bedford',
 'Francesca_Comencini',
 'Heneage_Montagu',
 'Mark_Birley',
 'Isabella_Cecil,_Marchioness_of_Exeter',
 'Norman_Powell_(television_executive)',
 'Mildred_Childe_Lee',
 'Cornelia_Guest',
 'Gloria_Swanson',
 'Susanna_Innes-Ker,_Duchess_of_Roxburghe',
 'Jemima_Goldsmith',
 'Henry_Scrymgeour-Wedderburn,_11th_Earl_of_Dundee',
 'Alexander_Slidell_Mackenzie#Family',
 'Perry_Belmont',
 'Ethel_Kennedy',
 'Henry_Cavendish_(British_Army_officer)',
 'John_Loder_(actor)',
 'Emily_Thorn_Vanderbilt',
 'Noah_Beery_Sr.',
 'Mary_Wilson_Goelet',
 'Ben_Goldsmith',
 'William_Cavendish_(English_politician,_born_1783)',
 'Lord_John_Joicey-Cecil',
 'Maria_Shriver',
 'Kerry_Kennedy',
 'Gummo_Marx',
 'Willard_Straight',
 'George_Warren_Dresser',
 'Afdera_Franchetti',
 'Mary_Goelet',
 'Joseph_P._Kennedy_Sr.',
 'Stephanus_van_Cortlandt',
 'Annette_Stroyberg',
 'Kiliaen_van_Rensselaer_(fifth_patroon_of_Rensselaerswyck)',
 'Elizabeth_Wharton_Drexel',
 'John_Montagu_Douglas_Scott,_7th_Duke_of_Buccleuch',
 'Louise_Cromwell_Brooks',
 'Katherine_LaNasa',
 'Lina_Cavalieri',
 'Johannes_Van_Rensselaer',
 'James_I._Jones',
 'Richard_Penruddocke_Long',
 'William_Hawks',
 'Robert_Gould_Shaw_III',
 'Anna_Tuthill_Symmes',
 'Reginald_Claypoole_Vanderbilt',
 'Henry_Spencer,_1st_Earl_of_Sunderland',
 'Gertrude_Lewis_Conaway',
 'Jan_Baptist_van_Rensselaer',
 'Henry_Guest',
 'Henry_W._Luce',
 'Elizabeth_Percy,_Duchess_of_Northumberland_(1922%E2%80%932012)',
 'William_Beresford,_1st_Baron_Decies',
 'John_H._H._Phipps',
 'Elizabeth_Brodie',
 'Johannes_Schuyler,_Jr.',
 'Jocelyn_Hambro',
 'Marshall_Orme_Wilson',
 'Adrian_Baillie',
 'Mary_Anne_Whitby',
 'Hubert_Beaumont_Phipps',
 'Lady_Diana_Beauclerk',
 'John_Stanley,_1st_Baron_Stanley_of_Alderley',
 'Hank_Greenberg',
 'Spencer_Cavendish,_8th_Duke_of_Devonshire',
 'Oliver_Hazard_Perry_Belmont',
 'Oscar_Hammerstein_I',
 'Charles_Montagu-Scott,_4th_Duke_of_Buccleuch',
 'Gene_Markey',
 'James_Whitney_Fosburgh',
 'India_Jane_Birley',
 'David_A._Kennedy',
 'Andrew_Cavendish,_11th_Duke_of_Devonshire',
 'Charles_Cadogan,_1st_Earl_Cadogan',
 'Cicero_Price',
 'Douglas_Harriman_Kennedy',
 'George_Henry_Warren_II',
 'George_Spencer,_4th_Duke_of_Marlborough',
 'Michael_Grace_Phipps',
 'Whitney_family',
 'Desmond_FitzGerald,_29th_Knight_of_Glin',
 'Walter_Long,_2nd_Viscount_Long',
 'Thomas_Thynne,_2nd_Marquess_of_Bath',
 'Ivor_Guest,_1st_Viscount_Wimborne',
 'Margaret_Phipps_Boegner',
 'Ruggero_Mastroianni',
 'Electra_Havemeyer_Webb',
 'Odile_Rodin',
 'Mary_Soames',
 'Jane_Gordon,_Duchess_of_Gordon',
 'Brockholst_Livingston',
 'Catherine_Yurievskaya',
 'William_M._Evarts',
 'Alexander_Hamilton_(general)',
 'Marjorie_Oelrichs',
 'Edmund_Schermerhorn',

In [152]:
len(new_names)

902

In [153]:
csv_dict_writer('wikigrabber/new_people_base.csv', new_names)

### Explore people_data_temp.csv file

In [445]:
df = pd.read_csv('wikicrawler/people_data_temp.csv')
df

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [446]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   schools     842 non-null    object
 1   degrees     320 non-null    object
 2   name        1233 non-null   object
 3   full_name   581 non-null    object
 4   DOB         1225 non-null   object
 5   occupation  405 non-null    object
 6   spouses     698 non-null    object
 7   offspring   574 non-null    object
dtypes: object(8)
memory usage: 82.3+ KB

In [447]:
df_full = df.dropna(how='all')
df_full

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [458]:
# Drop all rows without a name
df_all_names = df_full.dropna(subset=['name'])
df_all_names

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [459]:
df_all_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   schools     835 non-null    object
 1   degrees     320 non-null    object
 2   name        1233 non-null   object
 3   full_name   581 non-null    object
 4   DOB         1163 non-null   object
 5   occupation  405 non-null    object
 6   spouses     697 non-null    object
 7   offspring   573 non-null    object
dtypes: object(8)
memory usage: 86.7+ KB

In [460]:
df_no_gaps = df_all_names.drop_duplicates()
df_no_gaps

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [461]:
df_no_gaps.to_csv('wikicrawler/people_data.csv')

In [462]:
df_degrees = df_no_gaps.dropna(subset=['schools', 'degrees'])

In [463]:
# Rearrange columns and sort on name
df_degrees = df_degrees[['name', 'full_name', 'DOB', 'occupation', 'schools', 'degrees', 'spouses', 'offspring']]
df_degrees.sort_values(by='name', ignore_index=True, inplace=True)
df_degrees

,name,full_name,DOB,occupation,schools,degrees,spouses,offspring
0,A. Clayton Spencer,Ava Clayton Spencer,1954-12-15 00:00:00,NaN,"Williams College,University of Oxford,Harvard ...","MA,BA,JD",Ash Carter,2
1,Abdul El-Sayed,Abdulrahman Mohamed El-Sayed,1984-10-31 00:00:00,NaN,"University of Michigan,Oriel College, Oxford,C...","MA,PhD,MD,BS",Sarah Jukaku,NaN
2,Alan Bersin,NaN,1946-10-15 00:00:00,NaN,"Harvard University,Yale University","BA,JD",Lisa Foster,NaN
3,Alan Chester Valentine,NaN,1901-02-23 00:00:00,NaN,"Swarthmore College,University of Pennsylvania,...","University of Pennsylvania,Balliol College, Ox...",Lucia Garrison Norton,Annie Laurie Buffinton
4,Alan Greenspan,NaN,1926-03-06 00:00:00,NaN,New York University,"PhD,MA,BA",Andrea Mitchell,NaN
...,...,...,...,...,...,...,...,...
308,William McAdoo,William Gibbs McAdoo Jr.,1863-10-31 00:00:00,NaN,"University of Tennessee, Knoxville",BA,Eleanor Wilson McAdoo,9
309,William McRae,William Allan McRae Jr.,1909-09-25 00:00:00,NaN,"University of Florida,University of Oxford,Fre...","B.A.,J.D.,B.Litt.,A.B.,B.A.,J.D.,B.Litt.,A.B.",NaN,NaN
310,William Taft,NaN,1945-09-13 00:00:00,NaN,"Yale University,Harvard University","BA,JD",Julia V. Taft,3
311,Wilson Elkins,Wilson Homer Elkins,1908-07-09 00:00:00,NaN,"University of Texas, Austin","MA,BA",Dorothy Blackburn,2
312,Xi Mingze,习明泽,1992-06-25 00:00:00,NaN,Harvard University,BA,NaN,NaN

In [454]:
df_degrees.set_index('name', drop=True, inplace=True)
df_degrees

,full_name,DOB,occupation,schools,degrees,spouses,offspring
name,,,,,,,
A. Clayton Spencer,Ava Clayton Spencer,1954-12-15 00:00:00,NaN,"Williams College,University of Oxford,Harvard ...","MA,BA,JD",Ash Carter,2
Abdul El-Sayed,Abdulrahman Mohamed El-Sayed,1984-10-31 00:00:00,NaN,"University of Michigan,Oriel College, Oxford,C...","MA,PhD,MD,BS",Sarah Jukaku,NaN
Alan Bersin,NaN,1946-10-15 00:00:00,NaN,"Harvard University,Yale University","BA,JD",Lisa Foster,NaN
Alan Chester Valentine,NaN,1901-02-23 00:00:00,NaN,"Swarthmore College,University of Pennsylvania,...","University of Pennsylvania,Balliol College, Ox...",Lucia Garrison Norton,Annie Laurie Buffinton
Alan Greenspan,NaN,1926-03-06 00:00:00,NaN,New York University,"PhD,MA,BA",Andrea Mitchell,NaN
...,...,...,...,...,...,...,...
William McAdoo,William Gibbs McAdoo Jr.,1863-10-31 00:00:00,NaN,"University of Tennessee, Knoxville",BA,Eleanor Wilson McAdoo,9
William McRae,William Allan McRae Jr.,1909-09-25 00:00:00,NaN,"University of Florida,University of Oxford,Fre...","B.A.,J.D.,B.Litt.,A.B.,B.A.,J.D.,B.Litt.,A.B.",NaN,NaN
William Taft,NaN,1945-09-13 00:00:00,NaN,"Yale University,Harvard University","BA,JD",Julia V. Taft,3
Wilson Elkins,Wilson Homer Elkins,1908-07-09 00:00:00,NaN,"University of Texas, Austin","MA,BA",Dorothy Blackburn,2
Xi Mingze,习明泽,1992-06-25 00:00:00,NaN,Harvard University,BA,NaN,NaN

In [455]:
# df_degrees = df_degrees.replace({np.nan:None})

In [456]:
def date_converter(x):
    if x:
        if '-' in x:
            updated = dt.strptime(str(x), '%Y-%m-%d %H:%M:%S')
        elif '/' in x:
            updated = dt.strptime(str(x), '%m/%d/%Y %H:%M:%S')
        else:
            return None
        print(updated)
        return updated.strftme('%Y-%m-%d')        
    else:
        return None

In [457]:
# df_degrees['DOB'] = np.vectorize(date_converter)(df_degrees['DOB'])
df_degrees['DOB'] = pd.to_datetime(df_degrees.DOB)
df_degrees['DOB'] = df_degrees['DOB'].dt.strftime('%Y-%m-%d')
df_degrees

ValueError: ('Unknown string format:', '1989 or 1990 (age\xa031–32)')

In [ ]:
df_degrees.to_csv('wikicrawler/people_data_full.csv')

## Rhodes Scholars

In [ ]:
rhodes_df = pd.read_csv('rhodescholars/rhodes_data.csv')
rhodes_df

In [ ]:
df_occupations = rhodes_df.merge(df_no_gaps, on='name', how='outer')
df_occupations

In [414]:
df_occupations.to_csv('wikicrawler/merged_occupations.csv')