<h1 align='center'>MSDE 692</h1>

[Function Definitions](#Function-Definitions)

[Data Cleaning](#Data-Cleaning)

In [73]:
import os
import pandas as pd
import neo4j
import numpy as np
import csv

from functools import reduce
from datetime import datetime as dt
from csv import DictReader, writer

## Function Definitions

In [95]:
def csv_reader(csv_file):
    final_list = []

    with open(csv_file, 'r') as f:
        input_list = csv.DictReader(f)

        for item in input_list:
            final_list.append(item['wiki'])
            
    return final_list

In [110]:
def people_pruner(my_file):
    my_list = []

    with open(my_file, 'r') as f:
        reader = DictReader(f, fieldnames='person')

        for row in reader:
            if [row['p']] not in my_list:
                my_list.append([row['p']])
            else:
                print(f"Duplicate person: {row['p']}")
    
    return my_list

In [113]:
def csv_writer(my_file, my_list):

    with open(my_file, 'w', newline='') as outfile:

        # using csv.writer method from CSV package
        csv_writer = writer(outfile)

        for row in my_list:
            csv_writer.writerows(row)

In [115]:
def csv_dict_writer(my_file, my_list):
    with open(my_file, 'w', newline='') as f:
        writer = csv.DictWriter(f, fieldnames=['wiki'])
        
        for row in my_list:
            writer.writerow({'wiki': row})

## Data Cleaning

### Create Difference CSV File for wikigrabber Spider Runs

In [121]:
people_list = csv_reader('wikigrabber/people.csv')
people_base_list = csv_reader('wikigrabber/people_base.csv')
people_set = set(people_list)
people_base_set = set(people_base_list)

In [122]:
new_names = list(set.difference(people_set, people_base_set))
new_names

['Anne_Arundell',
 'Hugh_Cholmondeley,_5th_Baron_Delamere',
 'Cecil_Harmsworth,_1st_Baron_Harmsworth',
 'Mary_Harmsworth,_Viscountess_Northcliffe',
 'Lucy_Wharton_Drexel',
 'Henry_Cadogan',
 'Henry_Paget,_1st_Marquess_of_Anglesey',
 'Marshall_Orme_Wilson',
 'George_Washington_Vanderbilt_II',
 'Astor_family',
 'Margaret_Stuyvesant_Murat',
 'Lord_Herbert_Montagu_Douglas_Scott',
 'George_Finch-Hatton,_11th_Earl_of_Winchilsea',
 'John_Jacob_Astor,_1st_Baron_Astor_of_Hever',
 'George_Whiting_Flagg',
 'Oliver_Hazard_Perry_Belmont',
 'Jean_Templeton_Ward',
 'Washington_Allston',
 'James_Watson_Webb',
 'Steffi_Duna',
 'George_Spencer,_4th_Duke_of_Marlborough',
 'Charles_Vane-Tempest-Stewart,_6th_Marquess_of_Londonderry',
 'Alfred_Harmsworth,_1st_Viscount_Northcliffe',
 'Lord_Randolph_Churchill',
 'Hans_Stanley',
 'Ogden_Mills_Reid',
 'Electra_Havemeyer_Webb',
 'Lewis_Cass_Ledyard',
 'Schuyler_family',
 'Jane_Gordon,_Duchess_of_Gordon',
 'Jimmy_Van_Alen',
 'Robert_Livingston_(1718%E2%80%931775)',
 'Van_Rensselaer_family',
 'Ann_Fleming',
 'Mary_Soames',
 'Edmund_Schermerhorn',
 'Beatrix_Beauclerk,_Duchess_of_St_Albans',
 'Gilbert_Livingston_(1690%E2%80%931746)',
 'Harry_Hays_Morgan_Jr.',
 'Eliza_Osgood_Vanderbilt_Webb',
 'Suzy_Frelinghuysen',
 'Alfred_Gwynne_Vanderbilt',
 'Lord_Charles_Russell',
 'Vanderbilt_family',
 'Elbridge_T._Gerry_Sr.',
 'Pat_DiCicco',
 'Brooke_Hayward',
 'Anderson_Cooper',
 'George_Finch-Hatton,_10th_Earl_of_Winchilsea',
 'Dave_Hennen_Morris',
 'Sidney_Lumet',
 'Robert_L._Gerry,_Jr',
 'Francis_Russell,_7th_Duke_of_Bedford',
 'Hans_Sloane',
 'Cornelius_Vanderbilt',
 'Walter_Livingston',
 'Hugh_Cholmondeley,_3rd_Baron_Delamere',
 'Livingston_family',
 'Charles_Vane,_3rd_Marquess_of_Londonderry',
 'Slim_Keith',
 'Robert_Goelet',
 'Francis_Russell,_Marquess_of_Tavistock',
 'Wyatt_Emory_Cooper',
 'Henry_Brockholst_Livingston',
 'George_Innes-Ker,_9th_Duke_of_Roxburghe',
 'Harold_Harmsworth',
 'Lewis_Cass',
 'Florence_Adele_Vanderbilt_Twombly',
 'Henry_Carnegie_Phipps',
 'Arthur_Forbes,_9th_Earl_of_Granard',
 'Ernest_Flagg',
 'John_Jacob_Astor_III',
 'Arabella_Churchill_(charity_founder)',
 'Nicholas_van_Rensselaer_(minister)',
 'Richard_Jordan',
 'John_Hubert_Ward',
 'Lord_George_Russell',
 'Oliver_P._Bolton',
 'Gladys_Vanderbilt_Sz%C3%A9chenyi',
 'Beatrice_Forbes,_Countess_of_Granard',
 'Waldorf_Astor,_2nd_Viscount_Astor',
 'Hermann_Oelrichs',
 'Pamela_Harriman',
 'William_Montagu_Douglas_Scott,_6th_Duke_of_Buccleuch',
 'Cornelius_Vanderbilt_III',
 'Peter_Goelet_Gerry',
 'Charles_Calvert,_3rd_Baron_Baltimore',
 'John_Hammond_(producer)',
 'John_Francis_Amherst_Cecil',
 'Vivian_Francis_Bulkeley-Johnson',
 'Pamela_Harmsworth,_Viscountess_Rothermere',
 'Anne_Emily_Spencer-Churchill',
 'Clementine_Churchill',
 'Anthony_Joseph_Drexel_Biddle_Jr.',
 'Frances_Stewart,_Marchioness_of_Londonderry',
 'Lucille_Carroll',
 'Harry_Payne_Whitney',
 'Caroline_Spencer,_Duchess_of_Marlborough',
 'Margaret_Louisa_Vanderbilt',
 'Lord_Alexander_Russell',
 'George_Cornwallis-West',
 'Alexander_Gordon,_4th_Duke_of_Gordon',
 'John_Jay_(lawyer)',
 'Evelyn_Cavendish,_Duchess_of_Devonshire',
 'Alfred_Gwynne_Vanderbilt_III',
 'Henry_Paget,_2nd_Marquess_of_Anglesey',
 'Henry_Petty-Fitzmaurice,_6th_Marquess_of_Lansdowne',
 'Lord_Charles_Petty-Fitzmaurice',
 'Diana_Churchill',
 'Thomas_Cholmondeley,_1st_Baron_Delamere',
 'Philip_Livingston_(1686%E2%80%931749)',
 'Jane_Spencer-Churchill,_Duchess_of_Marlborough_(1798%E2%80%931844)',
 'Jonathan_Harmsworth',
 'Sir_Hildebrand_Harmsworth,_1st_Baronet',
 'Caroline_Schermerhorn_Astor',
 'Gertrude_Conaway_Vanderbilt',
 'Robert_L._Gerry_Jr.',
 'Sarah_Wilson_(war_correspondent)',
 'Monroe_Leland_Hayward',
 'Alfred_Harmsworth_(1837-1889)',
 'Elbridge_Thomas_Gerry',
 'Henry_Collins_Flagg',
 'James_Graham,_3rd_Duke_of_Montrose',
 'William_Amherst_Vanderbilt_Cecil',
 'Henry_Petty-Fitzmaurice,_5th_Marquess_of_Lansdowne',
 'Montagu_Porch',
 'Sarah_Churchill_(actress)',
 'Lord_Edward_Russell',
 'Lorillard_Suydam_Spencer',
 'Richard_Thornton_Wilson_Jr.',
 'Vere_Harmsworth,_3rd_Viscount_Rothermere',
 'Peter_G._Gerry',
 'Louisa_Hamilton,_Duchess_of_Abercorn',
 'Constance_Bennett',
 'George_Spencer-Churchill,_6th_Duke_of_Marlborough',
 'Elliot_Fitch_Shepard',
 'Vere_Harmsworth',
 'Phillip_Calvert_(governor)',
 'Margaret_Sullavan',
 'Alfred_Harmsworth_(1837%E2%80%931889)',
 'Peter_Goelet',
 'Thelma,_Viscountess_Furness',
 'James_Watson_Webb_II',
 'Raymond_Rodgers_Belmont',
 'Lord_Charles_Spencer-Churchill_(British_Army_officer)',
 'James_Hamilton,_1st_Duke_of_Abercorn',
 'George_Campbell,_6th_Duke_of_Argyll',
 'Cortlandt_Van_Rensselaer',
 'Jennie_Jerome',
 'George_Henry_Vanderbilt_Cecil',
 'Robert_Goelet_Sr.',
 'Ogden_Goelet',
 'Sir_Leicester_Harmsworth,_1st_Baronet',
 'Philip_Livingston_(1686-1749)',
 'Frances_Anne_Vane,_Marchioness_of_Londonderry',
 'Chester_C._Bolton',
 'Charles_B._Bolton',
 'Gloria_Swanson',
 'Susanna_Innes-Ker,_Duchess_of_Roxburghe',
 'Philip_Pieterse_Schuyler',
 'Abraham_Schermerhorn',
 'John_Russell,_1st_Earl_Russell',
 'Learned_Hand',
 'Georges_de_la_Falaise',
 'William_W._Belknap',
 'Augustus_Newbold_Morris',
 'Bernard_Forbes,_8th_Earl_of_Granard',
 'Ogden_Mills_(financier)',
 'Perry_Belmont',
 'Mary_Hamilton,_Duchess_of_Abercorn',
 'Mary_Wilson_Goelet',
 'August_Belmont_Jr.',
 'Johannes_Pieterse_van_Brugh',
 'Hugh_Judson_Kilpatrick',
 'George_Warren_Dresser',
 'John_Spencer-Churchill,_7th_Duke_of_Marlborough',
 'Mary_Goelet',
 'Leonard_Calvert',
 'James_Innes-Ker,_6th_Duke_of_Roxburghe',
 'Leopold_Stokowski',
 'George_Spencer-Churchill,_8th_Duke_of_Marlborough',
 'Elizabeth_Wharton_Drexel',
 'John_Montagu_Douglas_Scott,_7th_Duke_of_Buccleuch',
 'Hendrick_van_Rensselaer',
 'Ogden_Phipps',
 'Roeliff_Jansen_Kill#Roeliff_Jansen',
 'Virginia_Fair_Vanderbilt',
 'D._LeRoy_Dresser',
 'James_I._Jones',
 'Ann_Gerry',
 'Anne_Innes-Ker,_Duchess_of_Roxburghe',
 'Frederick_William_Vanderbilt',
 'Reginald_Claypoole_Vanderbilt',
 'Lord_Wriothesley_Russell',
 'Harold_Harmsworth,_1st_Viscount_Rothermere',
 'Robert_Livingston_(1688-1775)',
 'Rose_Post_Howard',
 'Sir_Nicholas_Bayly,_2nd_Baronet',
 'Peter_Schermerhorn',
 'Caroline_Graham,_Duchess_of_Montrose']

In [123]:
len(new_names)

200

In [124]:
csv_dict_writer('wikigrabber/new_people_base.csv', new_names)

### Explore people_data_temp.csv file

In [445]:
df = pd.read_csv('wikicrawler/people_data_temp.csv')
df

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [446]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   schools     842 non-null    object
 1   degrees     320 non-null    object
 2   name        1233 non-null   object
 3   full_name   581 non-null    object
 4   DOB         1225 non-null   object
 5   occupation  405 non-null    object
 6   spouses     698 non-null    object
 7   offspring   574 non-null    object
dtypes: object(8)
memory usage: 82.3+ KB

In [447]:
df_full = df.dropna(how='all')
df_full

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [458]:
# Drop all rows without a name
df_all_names = df_full.dropna(subset=['name'])
df_all_names

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [459]:
df_all_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   schools     835 non-null    object
 1   degrees     320 non-null    object
 2   name        1233 non-null   object
 3   full_name   581 non-null    object
 4   DOB         1163 non-null   object
 5   occupation  405 non-null    object
 6   spouses     697 non-null    object
 7   offspring   573 non-null    object
dtypes: object(8)
memory usage: 86.7+ KB

In [460]:
df_no_gaps = df_all_names.drop_duplicates()
df_no_gaps

,schools,degrees,name,full_name,DOB,occupation,spouses,offspring
0,London School of Economics,"MSc,BSc",George Soros,György Schwartz,1930-08-12 00:00:00,"Investor, hedge fund manager, author, philanth...",Susan Weber (historian),"Jonathan Soros,Alexander Soros"
1,"Yale University,University of Wyoming,Universi...","MA,BA",Dick Cheney,Richard Bruce Cheney,1941-01-30 00:00:00,NaN,Lynne Cheney,"Liz Cheney,Mary Cheney"
2,University of Fribourg,NaN,Klaus Schwab,NaN,1938-03-30 00:00:00,World Economic Forum,Hilde Schwab,2
3,"DePauw University,Indiana University, Indianap...","BA,JD",Dan Quayle,James Danforth Quayle,1947-02-04 00:00:00,NaN,Marilyn Quayle,Ben Quayle
4,"Dartmouth College,University College, Oxford,Y...","MA,BA,JD",Robert Reich,Robert Bernard Reich,1946-06-24 00:00:00,NaN,Clare Dalton,Sam Reich
...,...,...,...,...,...,...,...,...
1310,"Harvard University,BA,MBA",NaN,Theodore Roosevelt V,Theodore Roosevelt V,1942-11-27 00:00:00,NaN,Constance Lane Rogers,Theodore Roosevelt VI
1311,Harvard University,"BA,LLB",Charles Francis Adams III,NaN,1866-08-02 00:00:00,NaN,index.php?title=Frances Adams&action=edit&redl...,Charles Francis Adams IV
1312,"Harvard University,Yale University","JD,AB",Kermit Roosevelt III,NaN,1971-07-14 00:00:00,NaN,NaN,NaN
1313,"Yale University,Princeton University,Universit...","MA,BA,JD",Bob Taft,Robert Alphonso Taft III,1942-01-08 00:00:00,NaN,NaN,Anna Taft
1314,Harvard University,"PhD,JD,BA",Susan Roosevelt Weld,Susan Roosevelt,NaN,"Lawyer, academic, politician",Bill Weld,5

In [461]:
df_no_gaps.to_csv('wikicrawler/people_data.csv')

In [462]:
df_degrees = df_no_gaps.dropna(subset=['schools', 'degrees'])

In [463]:
# Rearrange columns and sort on name
df_degrees = df_degrees[['name', 'full_name', 'DOB', 'occupation', 'schools', 'degrees', 'spouses', 'offspring']]
df_degrees.sort_values(by='name', ignore_index=True, inplace=True)
df_degrees

,name,full_name,DOB,occupation,schools,degrees,spouses,offspring
0,A. Clayton Spencer,Ava Clayton Spencer,1954-12-15 00:00:00,NaN,"Williams College,University of Oxford,Harvard ...","MA,BA,JD",Ash Carter,2
1,Abdul El-Sayed,Abdulrahman Mohamed El-Sayed,1984-10-31 00:00:00,NaN,"University of Michigan,Oriel College, Oxford,C...","MA,PhD,MD,BS",Sarah Jukaku,NaN
2,Alan Bersin,NaN,1946-10-15 00:00:00,NaN,"Harvard University,Yale University","BA,JD",Lisa Foster,NaN
3,Alan Chester Valentine,NaN,1901-02-23 00:00:00,NaN,"Swarthmore College,University of Pennsylvania,...","University of Pennsylvania,Balliol College, Ox...",Lucia Garrison Norton,Annie Laurie Buffinton
4,Alan Greenspan,NaN,1926-03-06 00:00:00,NaN,New York University,"PhD,MA,BA",Andrea Mitchell,NaN
...,...,...,...,...,...,...,...,...
308,William McAdoo,William Gibbs McAdoo Jr.,1863-10-31 00:00:00,NaN,"University of Tennessee, Knoxville",BA,Eleanor Wilson McAdoo,9
309,William McRae,William Allan McRae Jr.,1909-09-25 00:00:00,NaN,"University of Florida,University of Oxford,Fre...","B.A.,J.D.,B.Litt.,A.B.,B.A.,J.D.,B.Litt.,A.B.",NaN,NaN
310,William Taft,NaN,1945-09-13 00:00:00,NaN,"Yale University,Harvard University","BA,JD",Julia V. Taft,3
311,Wilson Elkins,Wilson Homer Elkins,1908-07-09 00:00:00,NaN,"University of Texas, Austin","MA,BA",Dorothy Blackburn,2
312,Xi Mingze,习明泽,1992-06-25 00:00:00,NaN,Harvard University,BA,NaN,NaN

In [454]:
df_degrees.set_index('name', drop=True, inplace=True)
df_degrees

,full_name,DOB,occupation,schools,degrees,spouses,offspring
name,,,,,,,
A. Clayton Spencer,Ava Clayton Spencer,1954-12-15 00:00:00,NaN,"Williams College,University of Oxford,Harvard ...","MA,BA,JD",Ash Carter,2
Abdul El-Sayed,Abdulrahman Mohamed El-Sayed,1984-10-31 00:00:00,NaN,"University of Michigan,Oriel College, Oxford,C...","MA,PhD,MD,BS",Sarah Jukaku,NaN
Alan Bersin,NaN,1946-10-15 00:00:00,NaN,"Harvard University,Yale University","BA,JD",Lisa Foster,NaN
Alan Chester Valentine,NaN,1901-02-23 00:00:00,NaN,"Swarthmore College,University of Pennsylvania,...","University of Pennsylvania,Balliol College, Ox...",Lucia Garrison Norton,Annie Laurie Buffinton
Alan Greenspan,NaN,1926-03-06 00:00:00,NaN,New York University,"PhD,MA,BA",Andrea Mitchell,NaN
...,...,...,...,...,...,...,...
William McAdoo,William Gibbs McAdoo Jr.,1863-10-31 00:00:00,NaN,"University of Tennessee, Knoxville",BA,Eleanor Wilson McAdoo,9
William McRae,William Allan McRae Jr.,1909-09-25 00:00:00,NaN,"University of Florida,University of Oxford,Fre...","B.A.,J.D.,B.Litt.,A.B.,B.A.,J.D.,B.Litt.,A.B.",NaN,NaN
William Taft,NaN,1945-09-13 00:00:00,NaN,"Yale University,Harvard University","BA,JD",Julia V. Taft,3
Wilson Elkins,Wilson Homer Elkins,1908-07-09 00:00:00,NaN,"University of Texas, Austin","MA,BA",Dorothy Blackburn,2
Xi Mingze,习明泽,1992-06-25 00:00:00,NaN,Harvard University,BA,NaN,NaN

In [455]:
# df_degrees = df_degrees.replace({np.nan:None})

In [456]:
def date_converter(x):
    if x:
        if '-' in x:
            updated = dt.strptime(str(x), '%Y-%m-%d %H:%M:%S')
        elif '/' in x:
            updated = dt.strptime(str(x), '%m/%d/%Y %H:%M:%S')
        else:
            return None
        print(updated)
        return updated.strftme('%Y-%m-%d')        
    else:
        return None

In [457]:
# df_degrees['DOB'] = np.vectorize(date_converter)(df_degrees['DOB'])
df_degrees['DOB'] = pd.to_datetime(df_degrees.DOB)
df_degrees['DOB'] = df_degrees['DOB'].dt.strftime('%Y-%m-%d')
df_degrees

ValueError: ('Unknown string format:', '1989 or 1990 (age\xa031–32)')

In [ ]:
df_degrees.to_csv('wikicrawler/people_data_full.csv')

## Rhodes Scholars

In [ ]:
rhodes_df = pd.read_csv('rhodescholars/rhodes_data.csv')
rhodes_df

In [ ]:
df_occupations = rhodes_df.merge(df_no_gaps, on='name', how='outer')
df_occupations

In [414]:
df_occupations.to_csv('wikicrawler/merged_occupations.csv')