<h1 align='center'>MSDE 692</h1>

[Global Variables](#Global-Variables)

[Function Definitions](#Function-Definitions)

[Data Cleaning](#Data-Cleaning)
- [Create Difference CSV File for wikigrabber Spider Runs](#Create-Difference-CSV-File-for-wikigrabber-Spider-Runs)
- [Text Manipulation](#Text-Manipulation)
- [WikiGrabber Results Cleaning](#WikiGrabber-Results-Cleaning)
- [WikiCrawler Results Cleaning](#WikiCrawler-Results-Cleaning)
    - [Data Type Transformations](#Data-Type-Transformations)
    - [Create CSV file for each node](#Create-CSV-file-for-each-node)

In [1]:
import os
import pandas as pd
import neo4j
import numpy as np
import csv
import shutil
import urllib
import codecs
import neo4j

from dateutil import relativedelta
from scrapy.crawler import CrawlerProcess
from pprint import pprint
from deepdiff import DeepDiff
from functools import reduce
from datetime import datetime as dt
from datetime import date
from csv import DictReader, writer

In [2]:
# https://www.youtube.com/watch?v=5Is-QdbKmEI

## Global Variables

In [3]:
OMIT_LIST = ['Wikipedia:', 'Â', 'Ã', '#', 'index']

## Function Definitions

In [4]:
def csv_reader(csv_file):
    final_list = []

    with open(csv_file, 'r', encoding='unicode_escape') as f:
        input_list = csv.reader(f)

        for row in input_list:
            final_list.append(row[0])
            
    return final_list

In [5]:
def people_pruner(my_file):
    my_list = []

    with open(my_file, 'r') as f:
        reader = DictReader(f, fieldnames='person')

        for row in reader:
            if [row['p']] not in my_list:
                my_list.append([row['p']])
            else:
                print(f"Duplicate person: {row['p']}")
    
    return my_list

In [6]:
def csv_writer(my_file, my_mode, my_list):

    with open(my_file, my_mode, newline='', encoding="utf-8") as outfile:
        csv_writer = writer(outfile)

        for row in my_list:
            if not (":" in row or row == 'wiki' or row.startswith(tuple(OMIT_LIST)) or "Ã" in row):
                csv_writer.writerow([row])

In [7]:
def csv_dict_writer(my_file, my_list, my_mode):
    with open(my_file, my_mode, newline='') as f:
        writer = csv.DictWriter(f, fieldnames=['wiki'])
        
        for row in my_list:
            if ":" not in row and row != 'wiki' and not row.startswith(tuple(OMIT_LIST)):
                writer.writerow({'wiki': row})

In [8]:
def add_new_wikis(adding_file, gaining_file, base_file):
    """
    Adds newly discovered wiki pages to an accumulative wiki pages file before deleting the previous base file
    used to extract the new wikis. The previous base file is then deleted and the adding_file is renamed to base_file
    for the next grabwikis spider run.
    """
    base_list_tmp = csv_reader(base_file)
    adding_list = csv_reader(adding_file)
    gaining_list = csv_reader(gaining_file)
    base_set = set(base_list_tmp)
    adding_set = set(adding_list)
    gaining_set = set(gaining_list)
    
    new_base_wikis = list(set.difference(base_set, gaining_set))
    new_wikis = list(set.difference(adding_set, gaining_set))
    
    if len(new_wikis) > 0:
        print(f"Adding {len(new_wikis)} new wiki pages to {gaining_file}")
        csv_writer(gaining_file, 'a', new_wikis)
    if len(new_base_wikis) > 0:
        print(f"Adding {len(new_base_wikis)} new base wiki pages to {gaining_file}")
        csv_writer(gaining_file, 'a', new_base_wikis)
#         csv_dict_writer(base_file, new_wikis, 'w')
#         os.remove(adding_file)
    os.remove(base_file)
#     shutil.copy(adding_file, base_file)
    os.remove(adding_file)
    csv_writer(base_file, 'w', new_wikis)

In [9]:
def clean_df(my_df, out_file):
    all_people_df = my_df.drop_duplicates()
    all_people_df = all_people_df[all_people_df.wiki.str.contains(":")==False]
#     all_people_df['wiki'] = all_people_df['wiki'].apply(lambda x: urllib.parse.unquote(x))
    all_people_df = all_people_df[~all_people_df['wiki'].str[:].str.contains("Ã")]    
    all_people_df = all_people_df[~all_people_df['wiki'].str[0].str.isdigit()]    
    all_people_df.sort_values('wiki', inplace=True)
    all_people_df.set_index('wiki', drop=True, inplace=True)
    all_people_df.to_csv('wikigrabber/all_people.csv', encoding='utf-8')

In [10]:
urllib.parse.unquote("%C4%90or%C4%91e_Stoj%C5%A1i%C4%87_(Serbian_politician,_1928%E2%80%932014)")

'Đorđe_Stojšić_(Serbian_politician,_1928–2014)'

In [11]:
urllib.parse.unquote("Zuzana_%C4%8Caputov%C3%A1")

'Zuzana_Čaputová'

## Data Cleaning

### Create Difference CSV File for wikigrabber Spider Runs

In [12]:
add_new_wikis('wikigrabber/people.csv', 'wikicrawler/all_people.csv', 'wikigrabber/people_base.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'wikigrabber/people.csv'

In [61]:
df = pd.read_csv('wikigrabber/all_people.csv', encoding='unicode_escape')
# df['wiki'] = df['wiki'].apply(lambda x: urllib.parse.unquote(x))
df.to_csv('wikigrabber/people_unclean.csv', encoding='unicode_escape')
df

                                      wiki
0                       %C3%81kos_Birtalan
1      %C3%81lfhei%C3%B0ur_Ingad%C3%B3ttir
2           %C3%81lvaro_Ara%C3%BAjo_Castro
3            %C3%81lvaro_El%C3%ADas_Loredo
4           %C3%81lvaro_G%C3%B3mez_Hurtado
...                                    ...
75803                          Chris_Licht
75804                          Megyn_Kelly
75805                           3_(number)
75806                      Michael_Jackson
75807                        Brian_Stelter

[75808 rows x 1 columns]

### Text Manipulation

In [211]:
df = pd.read_csv('wikigrabber/people.csv', encoding='unicode_escape')

FileNotFoundError: [Errno 2] No such file or directory: 'wikigrabber/people.csv'

In [13]:
df.to_csv('wikigrabber/people_unclean.csv')

In [24]:
df['name'] = df['name'].apply(lambda x: x.strip())
df['name'] = df['name'].apply(lambda x: x.replace(' ', '_'))
df

                          name
0              Adewale_Adeyemo
1               Afsin_Yurdakul
2                Albert_Bourla
3                    Alex_Karp
4                    Ana_Pinho
..                         ...
398                Mark_Tucker
399                Jessica_Uhl
400  Ulrik_Vestergaard_Knudsen
401              Darren_Walker
402             Dieter_Zetsche

[403 rows x 1 columns]

In [276]:
df.to_csv('wikicrawler/all_people.csv')

In [278]:
all_people_df = df.drop_duplicates()
all_people_df = all_people_df[all_people_df.wiki.str.contains(":")==False]
all_people_df.sort_values('wiki', inplace=True)
all_people_df.set_index('wiki', drop=True, inplace=True)
all_people_df.to_csv('wikigrabber/all_people.csv')
all_people_df

Empty DataFrame
Columns: []
Index: [(Barbara)_Hazel_Guggenheim_King-Farlow_McKinley, A.A._Ames, A.P.J._Abdul_Kalam, A.T._Smith, A.V._Balakrishnan, A.W._Dirlam, A._A._Ames, A._A._Gill, A._A._Purcell, A._Amirthalingam, A._Andrew_Hauk, A._B._Dilworth, A._B._Krongard, A._B._Swindell, A._Bartlett_Giamatti, A._Bruce_Bielaski, A._C._Bartulis, A._C._Bearss, A._C._Gibbs, A._C._Lyles, A._C._Schiffler, A._Carter_Wilder, A._Carville_Foster,_Jr., A._Clarke_Dodge, A._D._Rice, A._David_Buckingham, A._Devitt_Vanech, A._Douglas_Stone, A._Elizabeth_Jones, A._F._M._Ahsanuddin_Chowdhury, A._F._Maciejewski, A._F._Summer, A._G._Lancione, A._G._S._Ram_Babu, A._H._Greenhalgh, A._H._Lightstone, A._Harry_Moore, A._Homer_Byington, A._Hyatt_Mayor, A._Hyatt_Smith, A._J._McNamara, A._J._Mundella, A._J._Nock, A._James_Barnes, A._James_Manchin, A._Jeff_McLemore, A._Joe_Canada_Jr., A._Joe_Fish, A._Joseph_DeNucci, A._K._Antony, A._K._Balan, A._K._Brohi, A._Keith_Bissell, A._L._M._Athaullah, A._L._Philpott, A._L._Rasmussen, A._L._Strand, A._LeRoy_Greason, A._Lee_Chandler, A._Leon_Higginbotham_Jr., A._Linwood_Holton_Jr., A._Marvin_Quattlebaum_Jr., A._Mitchell_Palmer, A._O._L._Atkin, A._P._Balachandran, A._P._J._Abdul_Kalam, A._P._Jayasuriya, A._P._Lutali, A._Paul_Alivisatos, A._Piatt_Andrew, A._Pratt_Kessler, A._Q._M._Badruddoza_Chowdhury, A._R._McCabe, A._R._Meek, A._Ray_Olpin, A._Raymond_Randolph, A._Richard_Caputo, A._Richard_Newton, A._Ronald_Button, A._RÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ¼stow, A._RÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ¼stow, A._S._J._Carnahan, A._S._M._Abdur_Rab, A._Scott_Sloan, A._T._M._Abdul_Mateen, A._T._M._Afzal, A._U._Fuimaono, A._U._Wyman, A._V._Alexander,_1st_Earl_Alexander_of_Hillsborough, A._Vernon_Weaver, A._Victor_Donahey, A._Victor_Thomas, A._W._Norblad, A._W._Tiffany, A._Walter_Norblad, A._Walton_Litz, A._Wess_Mitchell, A._William_Maupin, A._Willis_Robertson, A._Y._Milam, ...]

[71757 rows x 0 columns]

In [343]:
url_df = pd.read_csv('wikigrabber/all_people.csv', encoding='unicode_escape')
url_df

                      wiki
0       %C3%81kos_Birtalan
1        %C3%81lvaro_Nadal
2        %C3%81ngel_Acebes
3      %C3%81ngeles_Amador
4       %C3%85sa_Lindhagen
...                    ...
68503         Zweli_Mkhize
68504  Zygmunt_Janiszewski
68505   Zygmunt_Zalcwasser
68506           Zyon_Braun
68507        Zyta_Gilowska

[68508 rows x 1 columns]

In [344]:
url_df['wiki'] = url_df['wiki'].apply(lambda x: urllib.parse.unquote(x))

In [346]:
url_df.to_csv('wikigrabber/all_people.csv')

### WikiGrabber Results Cleaning

In [14]:
df = pd.read_csv('wikigrabber/all_people.csv', encoding='unicode_escape')
df

                                      wiki
0                       %C3%81kos_Birtalan
1      %C3%81lfhei%C3%B0ur_Ingad%C3%B3ttir
2           %C3%81lvaro_Ara%C3%BAjo_Castro
3            %C3%81lvaro_El%C3%ADas_Loredo
4           %C3%81lvaro_G%C3%B3mez_Hurtado
...                                    ...
75335                           Zwentibold
75336                  Zygmunt_Janiszewski
75337                   Zygmunt_Zalcwasser
75338                           Zyon_Braun
75339                        Zyta_Gilowska

[75340 rows x 1 columns]

In [ ]:
df['wiki'] = df['wiki'].apply(lambda x: x if not x.startswith())

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47952 entries, 0 to 47951
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       47251 non-null  object
 1   full_name  16425 non-null  object
 2   born       45753 non-null  object
 3   died       28590 non-null  object
dtypes: object(4)
memory usage: 1.5+ MB

### WikiCrawler Results Cleaning

In [13]:
df = pd.read_csv('wikicrawler/wikicrawler_results.csv', encoding='unicode_escape')
df

,name,full_name,born,died,citizenship,known_for,schools,degrees,organizations,institutions,...,house,title,doctoral_advisor,fields,positions,occupation,employer,political_party,board_member,labels
0,Michael Jackson,Michael Joseph Jackson,1958-08-29,"June 25, 2009",NaN,NaN,NaN,NaN,NaN,NaN,...,Jackson,NaN,NaN,NaN,NaN,"Singer,songwriter,dancer,record producer",NaN,NaN,NaN,"Steeltown,Motown,Epic,Legacy,Sony,MJJ Productions"
1,Ãlvaro ElÃ­as Loredo,NaN,1947-02-19,NaN,NaN,NaN,Autonomous University of San Luis PotosÃ­,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Lawyer and politician,NaN,PAN,NaN,NaN
2,Charles,NaN,1948-11-14,NaN,NaN,NaN,"Gordonstoun,University of Cambridge",NaN,NaN,NaN,...,Windsor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kat Timpf,Katherine Clare Timpf,1988-10-29,NaN,NaN,"Gutfeld!,National Review,Fox News Specialists","Hillsdale College,BA",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Television personality,NaN,NaN,NaN,NaN
4,Elon Musk,Elon Reeve Musk,1971-06-28,NaN,"United States,[1]",NaN,University of Pennsylvania,"BA,BS",NaN,NaN,...,Musk,"Founder, CEO, and Chief Engineer of ,SpaceX,CE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65153,Zweli Mkhize,Zwelini Lawrence Mkhize,1956-02-02,NaN,NaN,NaN,"University of Natal,M.B.",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Minister of Health of South Africa,Minister of...","Doctor,legislator",NaN,African National Congress,NaN,NaN
65154,Zyon Braun,Zyon Braun,1994-08-17,NaN,NaN,NaN,FOM University of Applied Sciences for Economi...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Leader of the Free Democratic Party in Branden...,"Politician,Banker",NaN,Free Democratic Party,NaN,NaN
65155,Zuzana ZvolenskÃ¡,NaN,1972-01-27,NaN,NaN,NaN,Comenius University,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Minister of Health,Politician,NaN,Direction-Social Democracy,NaN,NaN
65156,Zyta Gilowska,NaN,1949-07-07,5 April 2016,NaN,NaN,"Warsaw University,Maria Curie-Sklodowska Unive...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Minister of Finance,Deputy Prime Minister",NaN,NaN,"Freedom Union,Civic Platform",NaN,NaN
65157,Zvezdelina Entcheva Stankova,NaN,1969-09-15,NaN,NaN,"Skew-merged permutation,permutations with forb...","Bryn Mawr College,Harvard University",NaN,NaN,"Mills College,University of California, Berkeley",...,NaN,NaN,Joe Harris,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# Delete blank records 
df_full = df.dropna(subset=['name', 'born'])
df_full = df_full.replace({np.nan: None})
df_full['born'] = df.born.apply(lambda x: pd.to_datetime(x, errors='coerce'))
df_full['died'] = df.died.apply(lambda x: pd.to_datetime(x, errors='coerce'))
# df_full = df_full[pd.to_datetime(df_full['born'], errors='coerce').notna()]
# df_full = df_full[pd.to_datetime(df_full['died'], errors='coerce').notna()]
df_full['died'] = df_full['died'].astype(str).replace({'NaT': None})
df_full = df_full.dropna(subset=['born'])
df_full

,name,full_name,born,died,citizenship,known_for,schools,degrees,organizations,institutions,...,house,title,doctoral_advisor,fields,positions,occupation,employer,political_party,board_member,labels
0,Michael Jackson,Michael Joseph Jackson,1958-08-29,2009-06-25,None,None,None,None,None,None,...,Jackson,None,None,None,None,"Singer,songwriter,dancer,record producer",None,None,None,"Steeltown,Motown,Epic,Legacy,Sony,MJJ Productions"
1,Ãlvaro ElÃ­as Loredo,None,1947-02-19,None,None,None,Autonomous University of San Luis PotosÃ­,None,None,None,...,None,None,None,None,None,Lawyer and politician,None,PAN,None,None
2,Charles,None,1948-11-14,None,None,None,"Gordonstoun,University of Cambridge",None,None,None,...,Windsor,None,None,None,None,None,None,None,None,None
3,Kat Timpf,Katherine Clare Timpf,1988-10-29,None,None,"Gutfeld!,National Review,Fox News Specialists","Hillsdale College,BA",None,None,None,...,None,None,None,None,None,Television personality,None,None,None,None
4,Elon Musk,Elon Reeve Musk,1971-06-28,None,"United States,[1]",None,University of Pennsylvania,"BA,BS",None,None,...,Musk,"Founder, CEO, and Chief Engineer of ,SpaceX,CE...",None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65153,Zweli Mkhize,Zwelini Lawrence Mkhize,1956-02-02,None,None,None,"University of Natal,M.B.",None,None,None,...,None,None,None,None,"Minister of Health of South Africa,Minister of...","Doctor,legislator",None,African National Congress,None,None
65154,Zyon Braun,Zyon Braun,1994-08-17,None,None,None,FOM University of Applied Sciences for Economi...,None,None,None,...,None,None,None,None,Leader of the Free Democratic Party in Branden...,"Politician,Banker",None,Free Democratic Party,None,None
65155,Zuzana ZvolenskÃ¡,None,1972-01-27,None,None,None,Comenius University,None,None,None,...,None,None,None,None,Minister of Health,Politician,None,Direction-Social Democracy,None,None
65156,Zyta Gilowska,None,1949-07-07,2016-04-05,None,None,"Warsaw University,Maria Curie-Sklodowska Unive...",None,None,None,...,None,None,None,None,"Minister of Finance,Deputy Prime Minister",None,None,"Freedom Union,Civic Platform",None,None
65157,Zvezdelina Entcheva Stankova,None,1969-09-15,None,None,"Skew-merged permutation,permutations with forb...","Bryn Mawr College,Harvard University",None,None,"Mills College,University of California, Berkeley",...,None,None,Joe Harris,Mathematics,None,None,None,None,None,None

### Data Type Transformations

In [103]:
# Function creates list from comma separated values in string
# Removes '' and '\n' values
def str_to_list(my_str):
    final_vec = []
#     print(type(my_str))
    if my_str != None:
        vector = [v for v in my_str.split(',') if v not in ['', '\n']]
        return vector

In [104]:
multi_val_cols = ['title',
                  'positions',
                  'institutions',
                  'occupation',
                  'labels',
                  'fields',
                  'known_for',
                  'schools',
                  'degrees',
                  'spouses',
                  'parents',
                  'relatives',
                  'political_party',
                  'employer',
                  'board_member']

In [105]:
# Clean empty values in cells
df_full[multi_val_cols] = np.vectorize(str_to_list)(df_full[multi_val_cols])
df_full

,name,full_name,born,died,citizenship,known_for,schools,degrees,organizations,institutions,...,house,title,doctoral_advisor,fields,positions,occupation,employer,political_party,board_member,labels
0,Michael Jackson,Michael Joseph Jackson,1958-08-29,2009-06-25,None,None,None,None,None,None,...,Jackson,None,None,None,None,"[Singer, songwriter, dancer, record producer]",None,None,None,"[Steeltown, Motown, Epic, Legacy, Sony, MJJ Pr..."
1,Ãlvaro ElÃ­as Loredo,None,1947-02-19,None,None,None,[Autonomous University of San Luis PotosÃ­],None,None,None,...,None,None,None,None,None,[Lawyer and politician],None,[PAN],None,None
2,Charles,None,1948-11-14,None,None,None,"[Gordonstoun, University of Cambridge]",None,None,None,...,Windsor,None,None,None,None,None,None,None,None,None
3,Kat Timpf,Katherine Clare Timpf,1988-10-29,None,None,"[Gutfeld!, National Review, Fox News Specialists]","[Hillsdale College, BA]",None,None,None,...,None,None,None,None,None,[Television personality],None,None,None,None
4,Elon Musk,Elon Reeve Musk,1971-06-28,None,"United States,[1]",None,[University of Pennsylvania],"[BA, BS]",None,None,...,Musk,"[Founder, CEO, and Chief Engineer of , Space...",None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65153,Zweli Mkhize,Zwelini Lawrence Mkhize,1956-02-02,None,None,None,"[University of Natal, M.B.]",None,None,None,...,None,None,None,None,"[Minister of Health of South Africa, Minister ...","[Doctor, legislator]",None,[African National Congress],None,None
65154,Zyon Braun,Zyon Braun,1994-08-17,None,None,None,[FOM University of Applied Sciences for Econom...,None,None,None,...,None,None,None,None,[Leader of the Free Democratic Party in Brande...,"[Politician, Banker]",None,[Free Democratic Party],None,None
65155,Zuzana ZvolenskÃ¡,None,1972-01-27,None,None,None,[Comenius University],None,None,None,...,None,None,None,None,[Minister of Health],[Politician],None,[Direction-Social Democracy],None,None
65156,Zyta Gilowska,None,1949-07-07,2016-04-05,None,None,"[Warsaw University, Maria Curie-Sklodowska Uni...",None,None,None,...,None,None,None,None,"[Minister of Finance, Deputy Prime Minister]",None,None,"[Freedom Union, Civic Platform]",None,None
65157,Zvezdelina Entcheva Stankova,None,1969-09-15,None,None,"[Skew-merged permutation, permutations with fo...","[Bryn Mawr College, Harvard University]",None,None,"[Mills College, University of California, Ber...",...,None,None,Joe Harris,[Mathematics],None,None,None,None,None,None

In [106]:
# Function calculateds age
def calc_age(my_born, my_died):
    born = pd.to_datetime(my_born)
    if my_died is None:
        today = dt.now()
        return today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    else:
#         my_age = relativedelta.relativedelta(died - born)
        died = pd.to_datetime(my_died)
        return (died - born).days / 365

In [107]:
chars_to_remove = ['c', '.', 'circa', 'Unkown', '/']

# Should handle 
def convert_circa_dates(my_date):
    if my_date.startswith(tuple(chars_to_remove)):
        clean_date = ''.join([c for c in my_date if c not in chars_to_remove])
        return clean_date
    else:
        return my_date

In [108]:
def datetime_to_mmddyyyy(my_date):
    if my_date is not None:
        return dt.strftime('%Y-%m-%d', '%m/%d/%Y')
    else:
        return None

In [109]:
df_full['age']= np.vectorize(calc_age)(df_full['born'], df_full['died'])
df_full

,name,full_name,born,died,citizenship,known_for,schools,degrees,organizations,institutions,...,title,doctoral_advisor,fields,positions,occupation,employer,political_party,board_member,labels,age
0,Michael Jackson,Michael Joseph Jackson,1958-08-29,2009-06-25,None,None,None,None,None,None,...,None,None,None,None,"[Singer, songwriter, dancer, record producer]",None,None,None,"[Steeltown, Motown, Epic, Legacy, Sony, MJJ Pr...",50.857534
1,Ãlvaro ElÃ­as Loredo,None,1947-02-19,None,None,None,[Autonomous University of San Luis PotosÃ­],None,None,None,...,None,None,None,None,[Lawyer and politician],None,[PAN],None,None,75.000000
2,Charles,None,1948-11-14,None,None,None,"[Gordonstoun, University of Cambridge]",None,None,None,...,None,None,None,None,None,None,None,None,None,73.000000
3,Kat Timpf,Katherine Clare Timpf,1988-10-29,None,None,"[Gutfeld!, National Review, Fox News Specialists]","[Hillsdale College, BA]",None,None,None,...,None,None,None,None,[Television personality],None,None,None,None,33.000000
4,Elon Musk,Elon Reeve Musk,1971-06-28,None,"United States,[1]",None,[University of Pennsylvania],"[BA, BS]",None,None,...,"[Founder, CEO, and Chief Engineer of , Space...",None,None,None,None,None,None,None,None,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65153,Zweli Mkhize,Zwelini Lawrence Mkhize,1956-02-02,None,None,None,"[University of Natal, M.B.]",None,None,None,...,None,None,None,"[Minister of Health of South Africa, Minister ...","[Doctor, legislator]",None,[African National Congress],None,None,66.000000
65154,Zyon Braun,Zyon Braun,1994-08-17,None,None,None,[FOM University of Applied Sciences for Econom...,None,None,None,...,None,None,None,[Leader of the Free Democratic Party in Brande...,"[Politician, Banker]",None,[Free Democratic Party],None,None,27.000000
65155,Zuzana ZvolenskÃ¡,None,1972-01-27,None,None,None,[Comenius University],None,None,None,...,None,None,None,[Minister of Health],[Politician],None,[Direction-Social Democracy],None,None,50.000000
65156,Zyta Gilowska,None,1949-07-07,2016-04-05,None,None,"[Warsaw University, Maria Curie-Sklodowska Uni...",None,None,None,...,None,None,None,"[Minister of Finance, Deputy Prime Minister]",None,None,"[Freedom Union, Civic Platform]",None,None,66.791781
65157,Zvezdelina Entcheva Stankova,None,1969-09-15,None,None,"[Skew-merged permutation, permutations with fo...","[Bryn Mawr College, Harvard University]",None,None,"[Mills College, University of California, Ber...",...,None,Joe Harris,[Mathematics],None,None,None,None,None,None,52.000000

In [110]:
schools_df = df_full[['name', 'schools']]
schools_df

,name,schools
0,Michael Jackson,None
1,Ãlvaro ElÃ­as Loredo,[Autonomous University of San Luis PotosÃ­]
2,Charles,"[Gordonstoun, University of Cambridge]"
3,Kat Timpf,"[Hillsdale College, BA]"
4,Elon Musk,[University of Pennsylvania]
...,...,...
65153,Zweli Mkhize,"[University of Natal, M.B.]"
65154,Zyon Braun,[FOM University of Applied Sciences for Econom...
65155,Zuzana ZvolenskÃ¡,[Comenius University]
65156,Zyta Gilowska,"[Warsaw University, Maria Curie-Sklodowska Uni..."
65157,Zvezdelina Entcheva Stankova,"[Bryn Mawr College, Harvard University]"

In [111]:
pared_schools_df = schools_df.dropna(how='any')
pared_schools_df

,name,schools
1,Ãlvaro ElÃ­as Loredo,[Autonomous University of San Luis PotosÃ­]
2,Charles,"[Gordonstoun, University of Cambridge]"
3,Kat Timpf,"[Hillsdale College, BA]"
4,Elon Musk,[University of Pennsylvania]
5,Timothy Olyphant,"[University of Southern California, BFA]"
...,...,...
65153,Zweli Mkhize,"[University of Natal, M.B.]"
65154,Zyon Braun,[FOM University of Applied Sciences for Econom...
65155,Zuzana ZvolenskÃ¡,[Comenius University]
65156,Zyta Gilowska,"[Warsaw University, Maria Curie-Sklodowska Uni..."
65157,Zvezdelina Entcheva Stankova,"[Bryn Mawr College, Harvard University]"

In [114]:
exploded_schools_df = pared_schools_df.explode(column='schools')
exploded_schools_df

                               name                                    schools
1             Ãlvaro ElÃ­as Loredo  Autonomous University of San Luis PotosÃ­
2                           Charles                                Gordonstoun
2                           Charles                    University of Cambridge
3                         Kat Timpf                          Hillsdale College
3                         Kat Timpf                                         BA
...                             ...                                        ...
65155             Zuzana ZvolenskÃ¡                        Comenius University
65156                 Zyta Gilowska                          Warsaw University
65156                 Zyta Gilowska          Maria Curie-Sklodowska University
65157  Zvezdelina Entcheva Stankova                          Bryn Mawr College
65157  Zvezdelina Entcheva Stankova                         Harvard University

[62017 rows x 2 columns]

In [115]:
exploded_schools_df['attended'] = 'attended'
exploded_schools_df

,name,schools,attended
1,Ãlvaro ElÃ­as Loredo,Autonomous University of San Luis PotosÃ­,attended
2,Charles,Gordonstoun,attended
2,Charles,University of Cambridge,attended
3,Kat Timpf,Hillsdale College,attended
3,Kat Timpf,BA,attended
...,...,...,...
65155,Zuzana ZvolenskÃ¡,Comenius University,attended
65156,Zyta Gilowska,Warsaw University,attended
65156,Zyta Gilowska,Maria Curie-Sklodowska University,attended
65157,Zvezdelina Entcheva Stankova,Bryn Mawr College,attended
65157,Zvezdelina Entcheva Stankova,Harvard University,attended

In [117]:
exploded_schools_df.to_csv('wikicrawler/schools_attended.csv')

In [22]:
df_full.set_index('name', inplace=True)

In [23]:
df_full.to_csv('wikicrawler/wikicrawler_no_blanks.csv')

### Create CSV file for each node

### Organizations

In [51]:
df_orgs = df['organizations'].dropna()
df_orgs

261      Creative Commons,Reddit,Open Library,DeadDrop,...
2495                                        Wertheim & Co.
4282     Public Radio of Armenia , Ar Radio Intercontin...
5034                                   Austen Riggs Center
5106                                        AHA Foundation
                               ...
58999                               University of Michigan
59147        Gerrit W. Gong,Ulisses Soares,Robert D. Hales
60446                                                   UN
61637       American Association of Physicists in Medicine
61740                            Levin & Co, Johnston & Co
Name: organizations, Length: 77, dtype: object

In [61]:
my_orgs = df_orgs.to_list()

In [62]:
for l in my_orgs:
    print(l)

Creative Commons,Reddit,Open Library,DeadDrop,Progressive Change Campaign Committee,Demand Progress,ThoughtWorks,Tor2web
Wertheim & Co.
Public Radio of Armenia , Ar Radio Intercontinental
Austen Riggs Center
AHA Foundation
One Campaign
Creative Artists Agency
Colorado Springs Symphony Orchestra,Boston Landmarks Orchestra
Executive Council of Hong Kong
Anbang
NXIVM
Young Pioneers,[6]
Mormon Tabernacle Choir,Utah Symphony Orchestra Board
Paul and Daisy Soros Fellowships for New Americans
CAMH,Jack.org
Teneo
Lincoln's Inn Fields

,Chorgemeinschaft Neubeuern,
,KlangVerwaltung,
,BUND,
,Herrenchiemsee Festival,

Jeffrey R. Holland
Creative Armenia , Avalanche Entertainment
University of Oxford
Smokehouse Pictures,Casamigos
Rudger Clawson,[1]
Baptist State Convention of North Carolina,Baylor University
TerraMar Project
D. Todd Christofferson
Americans for Tax Reform
Women's Social and Political Union
Metropolitan Steamship Company
Henry B. Eyring
Black Panther Party
International Monetary Fund
Bank of England
Gujarat Kisan Parishad, Mahagujarat Janata Parishad, Nutan Mahagujarat Janata Parishad
Brookmeade Stable
No additional apostles ordained,[c]
Constitutional Council of France
Flood & O'Brien,Consolidated Virginia Mining Company,Bank of Nevada
Quentin L. Cook,Henry B. Eyring
Jigsaw,Council on Foreign Relations
Rivington Street Settlement
Catholic Church
Orange County Sheriff's Office
John Templeton Foundation
Liberal Party
Geneva Steel Company
New Jersey Casino Control Commission

,Donda,
,Yeezy,

Llangollen Farm Stable
National Star College
Richard G. Scott
Cyber Civil Rights Initiative
Bryn Mawr College,Andrew W. Mellon Foundation,American Philosophical Society
Wertheim & Co.
Occidental Petroleum,Oral Roberts University
Center for Libertarian Studies,Cato Institute,Mises Institute
ANTIAIDS Foundation,UNAIDS
Vienna Circle
ITA,Embraer,Petrobras,Brazilian government,Varig
Actors Studio
Qinchuan Dadi Investment Limited
Congress Socialist Party,Indian National Congress,Peasants and Workers Party of India
Congress Socialist Party,Indian National Congress,Peasants and Workers Party of India
Harold B. Lee
Harold B. Lee
Darpana Academy of Performing Arts
Center for Libertarian Studies,Cato Institute,Mises Institute
Sarah Campbell Blaffer Foundation
Barefoot Foundation
Barefoot Foundation
African Union Commission
Auckland Institute
University of Michigan
Gerrit W. Gong,Ulisses Soares,Robert D. Hales
UN
American Association of Physicists in Medicine
Levin & Co, Johnston & Co

In [63]:
orgs_list = []

for l in my_orgs:
    my_orgs = l.split(',')
    for org in my_orgs:
        if org not in orgs_list:
            orgs_list.append(org.strip())

In [70]:
all_orgs = [x for x in orgs_list if x is not '']
all_orgs

['Creative Commons',
 'Reddit',
 'Open Library',
 'DeadDrop',
 'Progressive Change Campaign Committee',
 'Demand Progress',
 'ThoughtWorks',
 'Tor2web',
 'Wertheim & Co.',
 'Public Radio of Armenia',
 'Ar Radio Intercontinental',
 'Austen Riggs Center',
 'AHA Foundation',
 'One Campaign',
 'Creative Artists Agency',
 'Colorado Springs Symphony Orchestra',
 'Boston Landmarks Orchestra',
 'Executive Council of Hong Kong',
 'Anbang',
 'NXIVM',
 'Young Pioneers',
 '[6]',
 'Mormon Tabernacle Choir',
 'Utah Symphony Orchestra Board',
 'Paul and Daisy Soros Fellowships for New Americans',
 'CAMH',
 'Jack.org',
 'Teneo',
 "Lincoln's Inn Fields",
 'Chorgemeinschaft Neubeuern',
 'KlangVerwaltung',
 'BUND',
 'Herrenchiemsee Festival',
 'Jeffrey R. Holland',
 'Creative Armenia',
 'Avalanche Entertainment',
 'University of Oxford',
 'Smokehouse Pictures',
 'Casamigos',
 'Rudger Clawson',
 '[1]',
 'Baptist State Convention of North Carolina',
 'Baylor University',
 'TerraMar Project',
 'D. Todd Christofferson',
 'Americans for Tax Reform',
 "Women's Social and Political Union",
 'Metropolitan Steamship Company',
 'Henry B. Eyring',
 'Black Panther Party',
 'International Monetary Fund',
 'Bank of England',
 'Gujarat Kisan Parishad',
 'Mahagujarat Janata Parishad',
 'Nutan Mahagujarat Janata Parishad',
 'Brookmeade Stable',
 'No additional apostles ordained',
 '[c]',
 'Constitutional Council of France',
 "Flood & O'Brien",
 'Consolidated Virginia Mining Company',
 'Bank of Nevada',
 'Quentin L. Cook',
 'Jigsaw',
 'Council on Foreign Relations',
 'Rivington Street Settlement',
 'Catholic Church',
 "Orange County Sheriff's Office",
 'John Templeton Foundation',
 'Liberal Party',
 'Geneva Steel Company',
 'New Jersey Casino Control Commission',
 'Donda',
 'Yeezy',
 'Llangollen Farm Stable',
 'National Star College',
 'Richard G. Scott',
 'Cyber Civil Rights Initiative',
 'Bryn Mawr College',
 'Andrew W. Mellon Foundation',
 'American Philosophical Society',
 'Occidental Petroleum',
 'Oral Roberts University',
 'Center for Libertarian Studies',
 'Cato Institute',
 'Mises Institute',
 'ANTIAIDS Foundation',
 'UNAIDS',
 'Vienna Circle',
 'ITA',
 'Embraer',
 'Petrobras',
 'Brazilian government',
 'Varig',
 'Actors Studio',
 'Qinchuan Dadi Investment Limited',
 'Congress Socialist Party',
 'Indian National Congress',
 'Peasants and Workers Party of India',
 'Harold B. Lee',
 'Darpana Academy of Performing Arts',
 'Sarah Campbell Blaffer Foundation',
 'Barefoot Foundation',
 'African Union Commission',
 'Auckland Institute',
 'University of Michigan',
 'Gerrit W. Gong',
 'Ulisses Soares',
 'Robert D. Hales',
 'UN',
 'American Association of Physicists in Medicine',
 'Levin & Co',
 'Johnston & Co']

In [71]:
len(all_orgs)

113

In [77]:
orgs_df = pd.DataFrame({'organization': all_orgs})
orgs_df.set_index('organization', inplace=True)
orgs_df.to_csv('wikicrawler/organizations.csv')

In [79]:
schools_df = df['schools'].dropna()
schools_df

1                Autonomous University of San Luis PotosÃ­
2                      Gordonstoun,University of Cambridge
3                                     Hillsdale College,BA
4                               University of Pennsylvania
5                    University of Southern California,BFA
                               ...
65153                             University of Natal,M.B.
65154    FOM University of Applied Sciences for Economi...
65155                                  Comenius University
65156    Warsaw University,Maria Curie-Sklodowska Unive...
65157                 Bryn Mawr College,Harvard University
Name: schools, Length: 37435, dtype: object

In [96]:
all_schools = schools_df.copy().to_list()
schools_set = set(all_schools)

In [97]:
len(schools_set)

18911

In [98]:
schools_list = list(schools_set)
len(schools_list)

18911

In [100]:
schools_df = pd.DataFrame({'school': schools_list})
schools_df.set_index('school', inplace=True)
schools_df.to_csv('wikicrawler/schools.csv')

In [87]:
# Drop all rows with no born/died data
df_all_names = df_full.dropna(subset=['born', 'died'])
df_all_names

,name,full_name,born,died,citizenship,known_for,schools,degrees,organizations,institutions,...,house,title,doctoral_advisor,fields,positions,occupation,employer,political_party,board_member,labels
8,Ãlvaro GÃ³mez Hurtado,NaN,1919-05-08,"November 2, 1995",NaN,NaN,Pontifical Xavierian University,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"15th Colombia Ambassador to France,Colombia Am...","Journalist,politician",NaN,Conservative,NaN,NaN
10,Ãlvaro Lloreda Caicedo,NaN,1903-10-15,10 April 1985,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Colombia Ambassador to Spain,Member of the Sen...",NaN,NaN,Conservative,NaN,NaN
17,Ãlvaro ObregÃ³n,Ãlvaro ObregÃ³n Salido,1880-02-19,17 July 1928,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"46th President of Mexico,President of the Mexi...",NaN,NaN,Laborist Party,NaN,NaN
19,Michael Jackson,Michael Joseph Jackson,1958-08-29,"June 25, 2009",NaN,NaN,NaN,NaN,NaN,NaN,...,Jackson,NaN,NaN,NaN,NaN,"Singer,songwriter,dancer,record producer",NaN,NaN,NaN,"Steeltown,Motown,Epic,Legacy,Sony,MJJ Productions"
25,Ãsgeir Ãsgeirsson,NaN,13 May 1894,15 September 1972,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"2nd President of Iceland,6th Prime Minister of...",NaN,NaN,"Progressive Party,Social Democratic Party",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65147,Zviad Gamsakhurdia,NaN,1939-03-31,31 December 1993,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"1st President of Georgia,Chairman of the Supre...",NaN,NaN,Round TableâFree Georgia,NaN,NaN
65148,Zvonimir Äervenko,NaN,1926-11-13,17 February 2001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65150,Zvi Griliches,NaN,1930-09-12,4 November 1999,NaN,NaN,"University of Chicago,UCÂ Berkeley",NaN,NaN,NaN,...,NaN,NaN,NaN,Economics,NaN,NaN,NaN,NaN,NaN,NaN
65152,Zyta Gilowska,NaN,1949-07-07,5 April 2016,NaN,NaN,"Warsaw University,Maria Curie-Sklodowska Unive...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Minister of Finance,Deputy Prime Minister",NaN,NaN,"Freedom Union,Civic Platform",NaN,NaN
65155,Zygmunt Janiszewski,NaN,1888-07-12,3 January 1920,NaN,NaN,University of Paris,NaN,NaN,University of Warsaw,...,NaN,NaN,Henri Lebesgue,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df_all_names.to_csv('wikicrawler/wikicrawler_full.csv')

In [89]:
df_all_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35746 entries, 8 to 65155
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              35746 non-null  object
 1   full_name         11569 non-null  object
 2   born              35746 non-null  object
 3   died              35746 non-null  object
 4   citizenship       762 non-null    object
 5   known_for         2677 non-null   object
 6   schools           16706 non-null  object
 7   degrees           4371 non-null   object
 8   organizations     44 non-null     object
 9   institutions      2272 non-null   object
 10  spouses           5540 non-null   object
 11  offspring         4631 non-null   object
 12  parents           4298 non-null   object
 13  relatives         4095 non-null   object
 14  house             1431 non-null   object
 15  title             152 non-null    object
 16  doctoral_advisor  1906 non-null   object
 17  fields            2316 non-null   object
 18  positions         27815 non-null  object
 19  occupation        6973 non-null   object
 20  employer          146 non-null    object
 21  political_party   20274 non-null  object
 22  board_member      50 non-null     object
 23  labels            13 non-null     object
dtypes: object(24)
memory usage: 6.8+ MB

In [47]:
df_no_gaps = df_all_names.drop_duplicates()
df_no_gaps

,name,full_name,born,died,known_for,schools,degrees,spouses,offspring,parents,relatives,title,positions,occupation,employer,political_party,board_member_of,labels
0,Ãlvaro ObregÃ³n,Ãlvaro ObregÃ³n Salido,1880-02-19,17 July 1928,NaN,NaN,NaN,MarÃ­a Tapia (1888-1971),NaN,NaN,NaN,NaN,"46th President of Mexico,President of the Mexi...",NaN,NaN,NaN,NaN,NaN
8,Ãlvaro Lloreda Caicedo,NaN,1903-10-15,10 April 1985,NaN,NaN,NaN,Mercedes Caicedo Ortiz,Rodrigo Hern%C3%A1n Lloreda Caicedo,NaN,NaN,NaN,"Colombia Ambassador to Spain,Member of the Sen...",NaN,NaN,NaN,NaN,NaN
11,Ãlvaro GÃ³mez Hurtado,NaN,1919-05-08,"November 2, 1995",NaN,Pontifical Xavierian University,NaN,Margarita Escobar LÃ³pez (1946-1995),"Mauricio GÃ³mez Escobar,Mercedes GÃ³mez Escoba...",NaN,Laureano GÃ³mez,NaN,"15th Colombia Ambassador to France,Colombia Am...","Journalist,politician",NaN,NaN,NaN,NaN
28,Ãlcio Ãlvares,NaN,1932-09-28,9 December 2016,NaN,NaN,NaN,Irene Ãlvares,NaN,NaN,NaN,NaN,"Minister of Defence of Brazil,Minister of Deve...",NaN,NaN,NaN,NaN,NaN
31,The Baron of Carondelet,ÃÃ±igo Cavero Lataillade,1929-08-01,25 December 2002,NaN,"University of Deusto,Complutense University of...",NaN,NaN,NaN,NaN,NaN,NaN,"President of the Spanish Council of State,Mini...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52488,Zurab Zhvania,NaN,9 December 1963,3 February 2005,NaN,Tbilisi State University,NaN,NaN,NaN,NaN,NaN,NaN,"4th Prime Minister of Georgia,State Minister o...",NaN,NaN,NaN,NaN,NaN
52491,Zvi Griliches,NaN,1930-09-12,4 November 1999,NaN,"University of Chicago,UCÂ Berkeley",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52492,Zvonimir Äervenko,NaN,1926-11-13,17 February 2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52494,Zygmunt Janiszewski,NaN,1888-07-12,3 January 1920,NaN,University of Paris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52495,Zyta Gilowska,NaN,1949-07-07,5 April 2016,NaN,"Warsaw University,Maria Curie-Sklodowska Unive...",NaN,NaN,NaN,NaN,NaN,NaN,"Minister of Finance,Deputy Prime Minister",NaN,NaN,NaN,NaN,NaN

In [48]:
df_no_gaps.to_csv('wikicrawler/wikicrawler_born_died.csv')

In [49]:
df_degrees = df_no_gaps.dropna(subset=['schools', 'degrees'])

In [50]:
# Rearrange columns and sort on name
df_degrees = df_degrees[['name', 'full_name', 'born', 'occupation', 'schools', 'degrees', 'spouses', 'offspring']]
df_degrees.sort_values(by='name', ignore_index=True, inplace=True)
df_degrees

,name,full_name,born,occupation,schools,degrees,spouses,offspring
0,A. Andrew Hauk,Aloysius Andrew Hauk,1912-12-29,NaN,"Regis University,Columbus School of Law,Yale L...","A.B.,J.S.D.,LL.B.",NaN,NaN
1,A. Bruce Bielaski,NaN,1883-04-02,NaN,George Washington University,LLB,NaN,NaN
2,A. J. McNamara,Abel John McNamara,1936-06-09,NaN,"Louisiana State University,Loyola University N...","J.D.,B.S.",NaN,NaN
3,A. Mitchell Palmer,Alexander Mitchell Palmer,1872-05-04,NaN,Swarthmore College,BA,Roberta Dixon,NaN
4,A. P. Jayasuriya,Alexander Perera Jayasuriya,1901-11-01,Advocate,"Sri Sumangala College,Panadura,Royal College, ...",Panadura,NaN,NaN
...,...,...,...,...,...,...,...,...
3478,Zakir Husain,NaN,1897-02-08,NaN,"Mohammedan Anglo-Oriental College Aligarh,Univ...","PhD,MA",Shah Jahan Begum,2
3479,Zales Nelson Ecton,NaN,1898-04-01,NaN,"Montana State University,University of Chicago","BS,LLB",Vera Harris,2
3480,Zhang Wentian,NaN,1900-08-30,NaN,"University of California, Berkeley,Moscow Sun ...",Moscow Sun Yat-sen University,NaN,NaN
3481,Ä°hsan Sabri ÃaÄlayangil,NaN,1908,NaN,"Ä°stanbul University,Istanbul High School",Istanbul High School,NaN,NaN
3482,ÅÃ¼krÃ¼ Kaya,NaN,1883,NaN,"Galatasaray High School,Istanbul University,Un...",Istanbul University,NaN,NaN

In [51]:
df_degrees.set_index('name', drop=True, inplace=True)
df_degrees

,full_name,born,occupation,schools,degrees,spouses,offspring
name,,,,,,,
A. Andrew Hauk,Aloysius Andrew Hauk,1912-12-29,NaN,"Regis University,Columbus School of Law,Yale L...","A.B.,J.S.D.,LL.B.",NaN,NaN
A. Bruce Bielaski,NaN,1883-04-02,NaN,George Washington University,LLB,NaN,NaN
A. J. McNamara,Abel John McNamara,1936-06-09,NaN,"Louisiana State University,Loyola University N...","J.D.,B.S.",NaN,NaN
A. Mitchell Palmer,Alexander Mitchell Palmer,1872-05-04,NaN,Swarthmore College,BA,Roberta Dixon,NaN
A. P. Jayasuriya,Alexander Perera Jayasuriya,1901-11-01,Advocate,"Sri Sumangala College,Panadura,Royal College, ...",Panadura,NaN,NaN
...,...,...,...,...,...,...,...
Zakir Husain,NaN,1897-02-08,NaN,"Mohammedan Anglo-Oriental College Aligarh,Univ...","PhD,MA",Shah Jahan Begum,2
Zales Nelson Ecton,NaN,1898-04-01,NaN,"Montana State University,University of Chicago","BS,LLB",Vera Harris,2
Zhang Wentian,NaN,1900-08-30,NaN,"University of California, Berkeley,Moscow Sun ...",Moscow Sun Yat-sen University,NaN,NaN
Ä°hsan Sabri ÃaÄlayangil,NaN,1908,NaN,"Ä°stanbul University,Istanbul High School",Istanbul High School,NaN,NaN
ÅÃ¼krÃ¼ Kaya,NaN,1883,NaN,"Galatasaray High School,Istanbul University,Un...",Istanbul University,NaN,NaN

In [52]:
# Keep only complete records
df_all_fields = df.dropna(how='any')

In [53]:
def date_converter(x):
    if x:
        if '-' in x:
            updated = dt.strptime(str(x), '%Y-%m-%d %H:%M:%S')
        elif '/' in x:
            updated = dt.strptime(str(x), '%m/%d/%Y %H:%M:%S')
        else:
            return None
        print(updated)
        return updated.strftme('%Y-%m-%d')        
    else:
        return None

In [54]:
# df_degrees['DOB'] = np.vectorize(date_converter)(df_degrees['DOB'])
df_degrees['born'] = pd.to_datetime(df_degrees.born)
df_degrees['born'] = df_degrees['born'].dt.strftime('%Y-%m-%d')
df_degrees

ParserError: String does not contain a date: ,

In [ ]:
df_degrees.to_csv('wikicrawler/people_data_full.csv')

## Rhodes Scholars

In [ ]:
rhodes_df = pd.read_csv('rhodescholars/rhodes_data.csv')
rhodes_df

In [ ]:
df_occupations = rhodes_df.merge(df_no_gaps, on='name', how='outer')
df_occupations

In [414]:
df_occupations.to_csv('wikicrawler/merged_occupations.csv')